@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,700,600&subset=latin,cyrillic);
/* line 1, styles.less */
* {
  position: relative;
}
/* line 4, styles.less */
.clr {
  clear: both;
}
/* line 8, styles.less */
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* line 13, styles.less */
ul.arrow-marked {
  list-style: none;
  padding-left: 0;
}
/* line 16, styles.less */
ul.arrow-marked li {
  padding-left: 30px;
  min-height: 30px;
  margin: 15px 0;
  background: url('../images/li-arrow.png') left top no-repeat;
}
/* line 23, styles.less */
ul.circle-marked {
  list-style: none;
  padding-left: 0;
}
/* line 26, styles.less */
ul.circle-marked li {
  padding-left: 50px;
  min-height: 40px;
  background: url('../images/li-circle.png') left top no-repeat;
}
/* line 32, styles.less */
ul.check-marked {
  list-style: none;
  padding-left: 0;
}
/* line 35, styles.less */
ul.check-marked li {
  padding-left: 50px;
  min-height: 40px;
  background: url('../images/li-check.png') left top no-repeat;
}
/* line 41, styles.less */
.review {
  font-size: 18px;
  color: #8b7f8d;
  line-height: 155%;
  margin-bottom: 70px;
}
/* line 46, styles.less */
.review i {
  font-size: 30px;
  color: #582257;
}
/* line 50, styles.less */
.review p.date {
  font-size: 13px;
  color: #b256af;
  margin-bottom: -22px;
}
/* line 55, styles.less */
.review p.author {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #582257;
}
/* line 62, styles.less */
table {
  border-collapse: collapse;
  border: none;
}
/* line 67, styles.less */
table thead tr th {
  color: #582257;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}
/* line 79, styles.less */
table tbody tr td {
  color: #8b7f8d;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
}
/* line 88, styles.less */
a.sign-up {
  width: 250px;
  margin: 20px auto;
  background: #a550a2;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 10px 15px;
  margin: auto;
  display: block;
}
/* line 104, styles.less */
a.sign-up:hover {
  background: #832e80;
}
/* line 108, styles.less */
.fixed-menu-container {
  overflow: hidden;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
}
/* line 116, styles.less */
.fixed-menu-container .fixed-menu {
  float: right;
  right: 50%;
}
/* line 119, styles.less */
.fixed-menu-container .fixed-menu ul.menu {
  left: 50%;
  float: left;
  padding: 0;
  list-style: none;
}
/* line 124, styles.less */
.fixed-menu-container .fixed-menu ul.menu li {
  float: left;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 30px;
}
/* line 131, styles.less */
.fixed-menu-container .fixed-menu ul.menu li a {
  color: #8b7f8d;
  text-decoration: none;
}
/* line 134, styles.less */
.fixed-menu-container .fixed-menu ul.menu li a:hover {
  text-decoration: underline;
}
/* line 138, styles.less */
.fixed-menu-container .fixed-menu ul.menu li.up {
  top: -20px;
}
/* line 140, styles.less */
.fixed-menu-container .fixed-menu ul.menu li.up a {
  display: block;
  width: 55px;
  padding-top: 65px;
  background: url('../images/icon-up.png') top center no-repeat;
}
/* line 152, styles.less */
div.header {
  background: #a550a2;
}
/* line 154, styles.less */
div.header .block-left {
  background: url('../images/block-left-bg.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 61%;
  float: left;
  border-right: solid 4px #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-right: 90px;
}
/* line 164, styles.less */
div.header .block-left .text {
  float: right;
  width: 60%;
  padding-top: 120px;
  padding-bottom: 147px;
}
/* line 169, styles.less */
div.header .block-left .text .logo {
  float: left;
  margin-right: 15px;
}
/* line 173, styles.less */
div.header .block-left .text h2 {
  color: #ffffff;
  font-size: 44px;
  font-weight: 400;
  line-height: 52px;
  text-align: left;
  margin: 0;
}
/* line 181, styles.less */
div.header .block-left .text p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 190, styles.less */
div.header .block-left .text ul {
  float: left;
  padding: 0;
  margin: 0;
}
/* line 194, styles.less */
div.header .block-left .text ul li {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  list-style: none;
  background: url('../images/icons.png') left 9px no-repeat;
  padding-left: 80px;
  min-height: 61px;
  margin-bottom: 20px;
}
/* line 209, styles.less */
div.header .block-right {
  background: #a550a2;
  width: 39%;
  float: right;
  height: 100%;
}
/* line 214, styles.less */
div.header .block-right .text {
  float: left;
  width: 40%;
  padding-top: 120px;
  padding-bottom: 60px;
  padding-left: 140px;
}
/* line 220, styles.less */
div.header .block-right .text h5 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
}
/* line 230, styles.less */
div.header .block-right .text .icon {
  font-family: Font Awesome;
  color: #653163;
  font-size: 48px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}
/* line 243, styles.less */
div.header .block-right .text p {
  padding: 5px 0 5px 0;
  margin: 0;
}
/* line 246, styles.less */
div.header .block-right .text p a {
  text-decoration: underline;
  color: #fff;
}
/* line 249, styles.less */
div.header .block-right .text p a:hover {
  text-decoration: none;
}
/* line 253, styles.less */
div.header .block-right .text p.city {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  display: block;
}
/* line 261, styles.less */
div.header .block-right .text p.data {
  color: #f1bef0;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
}
/* line 268, styles.less */
div.header .block-right .text p.name {
  color: #f1bef0;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
}
/* line 276, styles.less */
div.header .block-right .text .icon-bottom {
  margin: auto;
  width: 55px;
  padding-top: 40px;
}
/* line 285, styles.less */
section.block1 {
  width: 960px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* line 291, styles.less */
section.block1 h2 {
  color: #582257;
  font-size: 37px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
  margin: 0;
}
/* line 299, styles.less */
section.block1 div {
  color: #8b7f8d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding-top: 80px;
  margin: 0;
}
/* line 307, styles.less */
section.block1 div span {
  color: #582257;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
/* line 314, styles.less */
section.block1 div.column-left {
  width: 48%;
  float: left;
  padding-right: 4%;
}
/* line 319, styles.less */
section.block1 div.column-right {
  width: 48%;
  float: right;
}
/* line 323, styles.less */
section.block1 div.clr {
  padding: 0;
}
/* line 328, styles.less */
section.block2 {
  background: #1e051d;
  padding-top: 200px;
  padding-bottom: 200px;
}
/* line 332, styles.less */
section.block2 h1 {
  color: #ffffff;
  font-size: 46px;
  font-weight: 600;
  line-height: 55px;
  text-align: center;
  padding-bottom: 70px;
  margin: 0;
}
/* line 341, styles.less */
section.block2 .selection-trainer {
  display: block;
  background: #a550a2;
  background-size: contain;
  text-align: center;
  width: 15%;
  margin: auto;
  border-radius: 5px;
}
/* line 349, styles.less */
section.block2 .selection-trainer p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
/* line 360, styles.less */
section.block3 {
  background: url('../images/bg-block3.jpg') no-repeat;
  background-position: 90% bottom;
  padding-top: 100px;
  padding-bottom: 80px;
}
/* line 365, styles.less */
section.block3 .wrapper {
  width: 960px;
  margin: auto;
}
/* line 368, styles.less */
section.block3 .wrapper .text {
  width: 50%;
}
/* line 370, styles.less */
section.block3 .wrapper .text h4 {
  color: #582257;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
  margin: 0;
}
/* line 378, styles.less */
section.block3 .wrapper .text p {
  color: #8b7f8d;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
/* line 388, styles.less */
section.block4 {
  background: #f6f4f6;
}
/* line 390, styles.less */
section.block4 .wrapper {
  width: 960px;
  margin: auto;
  padding-top: 120px;
  padding-bottom: 50px;
}
/* line 395, styles.less */
section.block4 .wrapper h3 {
  color: #582257;
  font-size: 35px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  padding: 0;
  padding-bottom: 50px;
  margin: 0;
}
/* line 405, styles.less */
section.block4 .wrapper p {
  color: #8b7f8d;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding: 15px 0 15px 0;
  margin: 0;
}
/* line 413, styles.less */
section.block4 .wrapper p.left {
  width: 48%;
  float: left;
  padding-right: 4%;
}
/* line 418, styles.less */
section.block4 .wrapper p.right {
  width: 48%;
  float: right;
}
/* line 426, styles.less */
section.block5 .wrapper {
  width: 960px;
  margin: auto;
  padding-top: 100px;
}
/* line 430, styles.less */
section.block5 .wrapper h4 {
  color: #582257;
  font-size: 30px;
  font-weight: 300;
  line-height: 46px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
/* line 439, styles.less */
section.block5 .wrapper .video {
  width: 620px;
  margin: auto;
  height: 430px;
}
/* line 447, styles.less */
section.block6 .wrapper {
  width: 960px;
  margin: auto;
}
/* line 450, styles.less */
section.block6 .wrapper.with-icon {
  background: url('../images/icon-block6.jpg') center right no-repeat;
  padding-top: 100px;
}
/* line 454, styles.less */
section.block6 .wrapper .left {
  float: left;
  width: 50%;
}
/* line 458, styles.less */
section.block6 .wrapper h4 {
  color: #582257;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
  margin: 0;
  padding-bottom: 30px;
}
/* line 467, styles.less */
section.block6 .wrapper p {
  color: #8b7f8d;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding-bottom: 30px;
  margin: 0;
}
/* line 477, styles.less */
section.block6 .DI-1 {
  background: #1e051d;
}
/* line 479, styles.less */
section.block6 .DI-1 .wrapper {
  width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 50px 0;
}
/* line 484, styles.less */
section.block6 .DI-1 .wrapper h6 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin: 0;
  float: left;
  width: 70%;
}
/* line 494, styles.less */
section.block6 .DI-1 .wrapper a.btn {
  float: right;
  display: block;
  width: 25%;
  text-align: center;
  border-radius: 5px;
  border: solid 2px #a550a2;
  color: #a550a2;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-decoration: none;
  padding: 10px 10px;
  margin-top: 10px;
}
/* line 513, styles.less */
section.block7 .wrapper {
  width: 960px;
  margin: auto;
}
/* line 516, styles.less */
section.block7 .wrapper.with-icon {
  background: url('../images/icon-block7.jpg') center right no-repeat;
  padding-top: 100px;
}
/* line 520, styles.less */
section.block7 .wrapper .left {
  float: left;
  width: 50%;
}
/* line 523, styles.less */
section.block7 .wrapper .left h4 {
  color: #582257;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
  padding-bottom: 30px;
  margin: 0;
}
/* line 532, styles.less */
section.block7 .wrapper .left p {
  color: #8b7f8d;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding-bottom: 30px;
  margin: 0;
}
/* line 543, styles.less */
section.block7 .course-DI1 {
  background: #1e051d;
}
/* line 545, styles.less */
section.block7 .course-DI1 .wrapper {
  width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 50px 0;
}
/* line 550, styles.less */
section.block7 .course-DI1 .wrapper h6 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin: 0;
  float: left;
  width: 70%;
}
/* line 560, styles.less */
section.block7 .course-DI1 .wrapper a.btn {
  float: right;
  display: block;
  width: 25%;
  text-align: center;
  border-radius: 5px;
  border: solid 2px #a550a2;
  color: #a550a2;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-decoration: none;
  padding: 10px 10px;
  margin-top: 10px;
}
/* line 579, styles.less */
section.block8 .wrapper {
  width: 515px;
  margin: auto;
  padding-top: 100px;
}
/* line 583, styles.less */
section.block8 .wrapper h4 {
  color: #582257;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: 42px;
  text-align: center;
  margin: 0;
}
/* line 592, styles.less */
section.block8 .wrapper p {
  color: #8b7f8d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
/* line 599, styles.less */
section.block8 .wrapper .icon {
  margin: auto;
  width: 55px;
  padding-top: 40px;
}
/* line 608, styles.less */
section.block9 .wrapper {
  width: 960px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 80px;
}
/* line 613, styles.less */
section.block9 .wrapper h2 {
  color: #582257;
  font-size: 37px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
  margin: 0;
  padding-bottom: 90px;
}
/* line 622, styles.less */
section.block9 .wrapper .left {
  width: 48%;
  float: left;
  padding-right: 4%;
}
/* line 627, styles.less */
section.block9 .wrapper .right {
  width: 48%;
  float: right;
}
/* line 631, styles.less */
section.block9 .wrapper p {
  color: #8b7f8d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin: 0;
  padding-bottom: 30px;
}
/* line 642, styles.less */
section.block10 {
  background: url('../images/bg-block10.jpg') no-repeat center center;
  background-size: cover;
}
/* line 645, styles.less */
section.block10 .wrapper {
  width: 960px;
  margin: auto;
  padding-top: 380px;
  padding-bottom: 90px;
}
/* line 650, styles.less */
section.block10 .wrapper h1 {
  color: #ffffff;
  font-size: 45px;
  font-weight: 300;
  line-height: 60px;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}
/* line 659, styles.less */
section.block10 .wrapper p {
  color: #bdc3c7;
  font-size: 25px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  margin: 0;
}
/* line 667, styles.less */
section.block10 .wrapper .icon {
  margin: auto;
  width: 55px;
  padding-top: 220px;
}
/* line 675, styles.less */
section.block11 .wrapper {
  width: 630px;
  margin: auto;
  padding-top: 100px;
}
/* line 679, styles.less */
section.block11 .wrapper p {
  color: #8b7f8d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
/* line 690, styles.less */
section.block12 .wrapper {
  width: 960px;
  margin: auto;
  overflow: hidden;
}
/* line 694, styles.less */
section.block12 .wrapper h3 {
  color: #582257;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
  margin: 0;
}
/* line 704, styles.less */
section.block12 .wrapper .item {
  float: left;
  width: 300px;
  margin-right: 20px;
  padding-bottom: 50px;
  border-bottom: solid 2px #ebedee;
  margin-bottom: 80px;
  text-decoration: none;
  color: #8b7f8d;
  height: 250px;
}
/* line 714, styles.less */
section.block12 .wrapper .item .photo-container {
  width: 300px;
  height: 180px;
  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  overflow: hidden;
}
/* line 722, styles.less */
section.block12 .wrapper .item .photo-container p.name {
  position: absolute;
  width: 100%;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
  bottom: 15px;
  z-index: 2;
  margin: 0;
  padding-left: 15px;
}
/* line 737, styles.less */
section.block12 .wrapper .item .photo-container .fader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/fader.png');
  z-index: 1;
  display: none;
}
/* line 745, styles.less */
section.block12 .wrapper .item .photo-container img {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 751, styles.less */
section.block12 .wrapper .item p.slogan {
  color: #8b7f8d;
  font-size: 14px;
  font-style: italic;
  line-height: 21px;
  text-align: center;
}
/* line 758, styles.less */
section.block12 .wrapper .item:hover {
  border-color: #a550a2;
}
/* line 760, styles.less */
section.block12 .wrapper .item:hover .fader {
  display: block;
}
/* line 768, styles.less */
section.block13 .wrapper {
  width: 95%;
  margin: auto;
  max-width: 1300px;
  padding-bottom: 50px;
}
/* line 773, styles.less */
section.block13 .wrapper h3 {
  margin-top: 70px;
  color: #582257;
  font-size: 35px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
}
/* line 779, styles.less */
section.block13 .wrapper .photo-container {
  width: 475px;
  float: left;
  margin-right: 90px;
}
/* line 783, styles.less */
section.block13 .wrapper .photo-container img {
  width: 100%;
  display: block;
}
/* line 788, styles.less */
section.block13 .wrapper .about {
  overflow: hidden;
}
/* line 791, styles.less */
section.block13 .wrapper .about ul {
  font-size: 20px;
  color: #8b7f8d;
  line-height: 180%;
}
/* line 795, styles.less */
section.block13 .wrapper .about ul li {
  margin: 20px 0;
  background-position: left 9px;
}
/* line 801, styles.less */
section.block13 .wrapper .results {
  width: 80%;
  margin: 100px auto 20px auto;
}
/* line 805, styles.less */
section.block13 .wrapper .results ul li {
  margin: 20px 0;
  color: #8b7f8d;
  font-size: 16px;
  background-position: left 7px;
}
/* line 814, styles.less */
section.block13 .schedule {
  background: #f6f4f6;
  padding-top: 50px;
}
/* line 817, styles.less */
section.block13 .schedule .wrapper {
  width: 95%;
  max-width: 930px;
  margin: auto;
}
/* line 821, styles.less */
section.block13 .schedule .wrapper h3 {
  display: block;
  width: 100%;
  background: url('../images/icon-microfon.png') left top no-repeat;
  height: 270px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 40%;
  padding-top: 30px;
  margin: 0;
}
/* line 832, styles.less */
section.block13 .schedule .wrapper table {
  width: 100%;
  margin-top: 30px;
}
/* line 835, styles.less */
section.block13 .schedule .wrapper table td {
  width: 33%;
}
/* line 839, styles.less */
section.block13 .schedule .wrapper a.sign-up {
  margin-top: 40px;
}
/* line 846, styles.less */
section.block14 .wrapper {
  width: 95%;
  margin: auto;
  max-width: 1300px;
  padding-bottom: 50px;
}
/* line 851, styles.less */
section.block14 .wrapper h3 {
  margin-top: 70px;
  color: #582257;
  font-size: 35px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
}
/* line 857, styles.less */
section.block14 .wrapper .photo-container {
  width: 475px;
  float: left;
  margin-right: 90px;
}
/* line 861, styles.less */
section.block14 .wrapper .photo-container img {
  width: 100%;
  display: block;
}
/* line 866, styles.less */
section.block14 .wrapper .about {
  overflow: hidden;
}
/* line 869, styles.less */
section.block14 .wrapper .about ul {
  font-size: 20px;
  color: #8b7f8d;
  line-height: 180%;
}
/* line 873, styles.less */
section.block14 .wrapper .about ul li {
  margin: 20px 0;
  background-position: left 9px;
}
/* line 882, styles.less */
section.block14 .wrapper .reviews {
  margin: 0;
}
/* line 884, styles.less */
section.block14 .wrapper .reviews .wrapper {
  width: 960px;
  margin: auto;
  padding: 0;
}
/* line 888, styles.less */
section.block14 .wrapper .reviews .wrapper h4 {
  color: #582257;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
}
/* line 895, styles.less */
section.block14 .wrapper .reviews .wrapper .left {
  float: left;
  width: 48%;
  margin-right: 4%;
}
/* line 900, styles.less */
section.block14 .wrapper .reviews .wrapper .right {
  float: right;
  width: 48%;
}
/* line 904, styles.less */
section.block14 .wrapper .reviews .wrapper .marked {
  color: #582257;
  font-weight: 600;
}
/* line 908, styles.less */
section.block14 .wrapper .reviews .wrapper .review {
  margin: 0;
}
/* line 914, styles.less */
section.block14 .schedule {
  background: #f6f4f6;
  padding-top: 40px;
}
/* line 917, styles.less */
section.block14 .schedule .wrapper {
  width: 95%;
  max-width: 930px;
  margin: auto;
}
/* line 921, styles.less */
section.block14 .schedule .wrapper h3 {
  display: block;
  width: 100%;
  background: url('../images/icon-microfon.png') left top no-repeat;
  height: 270px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 40%;
  padding-top: 30px;
  margin: 0;
}
/* line 932, styles.less */
section.block14 .schedule .wrapper table {
  width: 100%;
  margin-top: 30px;
}
/* line 935, styles.less */
section.block14 .schedule .wrapper table td {
  width: 33%;
}
/* line 939, styles.less */
section.block14 .schedule .wrapper a.sign-up {
  margin-top: 40px;
}
/* line 947, styles.less */
section.block15 .wrapper {
  width: 95%;
  margin: auto;
  max-width: 1300px;
  padding-bottom: 20px;
}
/* line 952, styles.less */
section.block15 .wrapper h3 {
  margin-top: 70px;
  color: #582257;
  font-size: 35px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
}
/* line 958, styles.less */
section.block15 .wrapper .photo-container {
  width: 475px;
  float: left;
  margin-right: 90px;
}
/* line 962, styles.less */
section.block15 .wrapper .photo-container img {
  width: 100%;
  display: block;
}
/* line 967, styles.less */
section.block15 .wrapper .about {
  overflow: hidden;
}
/* line 970, styles.less */
section.block15 .wrapper .about ul {
  font-size: 20px;
  color: #8b7f8d;
  line-height: 180%;
}
/* line 974, styles.less */
section.block15 .wrapper .about ul li {
  margin: 20px 0;
  background-position: left 9px;
}
/* line 980, styles.less */
section.block15 .wrapper .video {
  width: 940px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
/* line 985, styles.less */
section.block15 .wrapper .video h3 {
  display: block;
  width: 95%;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
/* line 992, styles.less */
section.block15 .wrapper .video .container {
  width: 940px;
  height: 355px;
  background: #a550a2;
}
/* line 998, styles.less */
section.block15 .wrapper .specialization {
  width: 940px;
  margin: auto;
  margin-top: 30px;
}
/* line 1002, styles.less */
section.block15 .wrapper .specialization ul {
  font-size: 18px;
  color: #8b7f8d;
}
/* line 1008, styles.less */
section.block15 .schedule {
  background: #f6f4f6;
  padding-top: 40px;
  padding-bottom: 50px;
}
/* line 1012, styles.less */
section.block15 .schedule .wrapper {
  width: 95%;
  max-width: 930px;
  margin: auto;
}
/* line 1016, styles.less */
section.block15 .schedule .wrapper h3 {
  display: block;
  width: 100%;
  background: url('../images/icon-microfon.png') left top no-repeat;
  height: 270px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 40%;
  padding-top: 30px;
  margin: 0;
}
/* line 1027, styles.less */
section.block15 .schedule .wrapper table {
  width: 100%;
  margin-top: 30px;
}
/* line 1030, styles.less */
section.block15 .schedule .wrapper table td {
  width: 33%;
}
/* line 1034, styles.less */
section.block15 .schedule .wrapper a.sign-up {
  margin-top: 40px;
}
/* line 1041, styles.less */
section.block16 .wrapper {
  width: 95%;
  margin: auto;
  max-width: 1300px;
  padding-bottom: 40px;
}
/* line 1046, styles.less */
section.block16 .wrapper h3 {
  margin-top: 70px;
  color: #582257;
  font-size: 35px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
}
/* line 1052, styles.less */
section.block16 .wrapper .photo-container {
  width: 475px;
  float: left;
  margin-right: 90px;
}
/* line 1056, styles.less */
section.block16 .wrapper .photo-container img {
  width: 100%;
  display: block;
}
/* line 1061, styles.less */
section.block16 .wrapper .about {
  overflow: hidden;
}
/* line 1064, styles.less */
section.block16 .wrapper .about ul {
  font-size: 20px;
  color: #8b7f8d;
  line-height: 180%;
}
/* line 1068, styles.less */
section.block16 .wrapper .about ul li {
  margin: 20px 0;
  background-position: left 9px;
}
/* line 1074, styles.less */
section.block16 .wrapper .case {
  background: url('../images/smoke.jpg') center right no-repeat;
  padding-top: 150px;
  padding-left: 50px;
}
/* line 1078, styles.less */
section.block16 .wrapper .case h3 {
  color: #582257;
  font-size: 34px;
  font-weight: 300;
  line-height: 42px;
  text-align: left;
  margin: 0;
  padding-bottom: 20px;
}
/* line 1087, styles.less */
section.block16 .wrapper .case p {
  color: #8b7f8d;
  font-size: 16.62px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  transform: scaleY(1.0833);
  padding-bottom: 150px;
  margin: 0;
}
/* line 1100, styles.less */
section.block16 .reviews .wrapper {
  width: 960px;
  margin: auto;
  margin-top: 90px;
}
/* line 1104, styles.less */
section.block16 .reviews .wrapper h4 {
  color: #582257;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
}
/* line 1111, styles.less */
section.block16 .reviews .wrapper .left {
  float: left;
  width: 48%;
  margin-right: 4%;
}
/* line 1116, styles.less */
section.block16 .reviews .wrapper .right {
  float: right;
  width: 48%;
}
/* line 1120, styles.less */
section.block16 .reviews .wrapper .marked {
  color: #582257;
  font-weight: 600;
}
/* line 1126, styles.less */
section.block16 .schedule {
  background: #f6f4f6;
  padding-top: 40px;
}
/* line 1129, styles.less */
section.block16 .schedule .wrapper {
  width: 95%;
  max-width: 930px;
  margin: auto;
}
/* line 1133, styles.less */
section.block16 .schedule .wrapper h3 {
  display: block;
  width: 100%;
  background: url('../images/icon-microfon.png') left top no-repeat;
  height: 270px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 40%;
  padding-top: 30px;
  margin: 0;
}
/* line 1144, styles.less */
section.block16 .schedule .wrapper table {
  width: 100%;
  margin-top: 30px;
}
/* line 1147, styles.less */
section.block16 .schedule .wrapper table td {
  width: 33%;
}
/* line 1151, styles.less */
section.block16 .schedule .wrapper a.sign-up {
  margin-top: 40px;
}
/* line 1158, styles.less */
section.footer {
  padding: 100px 0 50px 0;
}
/* line 1160, styles.less */
section.footer .menu-container {
  float: right;
  right: 50%;
}
/* line 1163, styles.less */
section.footer .menu-container ul.menu {
  left: 50%;
  float: left;
  padding: 0;
  list-style: none;
}
/* line 1168, styles.less */
section.footer .menu-container ul.menu li {
  float: left;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 30px;
}
/* line 1175, styles.less */
section.footer .menu-container ul.menu li a {
  color: #8b7f8d;
  text-decoration: none;
}
/* line 1178, styles.less */
section.footer .menu-container ul.menu li a:hover {
  text-decoration: underline;
}
/* line 1182, styles.less */
section.footer .menu-container ul.menu li.up {
  top: -20px;
}
/* line 1184, styles.less */
section.footer .menu-container ul.menu li.up a {
  display: block;
  width: 55px;
  padding-top: 65px;
  background: url('../images/icon-up.png') top center no-repeat;
}
/* line 1194, styles.less */
section.footer .contacts {
  text-align: center;
}
/* line 1196, styles.less */
section.footer .contacts a,
section.footer .contacts p {
  color: #8b7f8d;
  text-decoration: none;
}
/* line 1200, styles.less */
section.footer .contacts a:hover {
  text-decoration: underline;
}
/* line 1203, styles.less */
section.footer .contacts p {
  font-size: 14px;
}
/* line 1205, styles.less */
section.footer .contacts p.support {
  font-weight: bold;
  font-size: 16px;
}
/*# sourceMappingURL=styles.css.map */