@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,300,300italic&subset=latin,cyrillic);
/* Внутреняя тень */
/* Внешняя тень */
/* Упрощенный вариант использования внейшей тени */
/* Скругление верхних углов */
/* Скругление нижних левого углов */
/* Скругление левых углов */
/* Скругление правых углов */
/* Скругление верхнего левого угла */
/* Скругление верхнего правого угла */
/* Скругление нижнего левого угла */
/* Скругление нижнего правого угла */
/* Упрощенный вариант использования скругления углов */
/* line 3, styles.less */
.y-main-wrapper {
  width: 98%;
  max-width: 1100px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0 auto;
  background: url('../images/wrapper-bg.png');
  padding: 0 20px;
  min-height: 100%;
}
/* line 12, styles.less */
.y-main-wrapper > .y-container {
  width: 100%;
  min-height: 100%;
  border-left: solid 1px #cdcdcd;
  border-right: solid 1px #cdcdcd;
  background: #ffffff;
}
/* line 18, styles.less */
.y-main-wrapper > .y-container .y-header {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: url('../images/header-bg.jpg') center right no-repeat;
  background-size: cover;
  padding: 35px;
  z-index: 1;
}
/* line 26, styles.less */
.y-main-wrapper > .y-container .y-header .y-logo {
  float: left;
}
/* line 29, styles.less */
.y-main-wrapper > .y-container .y-header .y-rates {
  float: left;
  margin-left: 7%;
  margin-top: 20px;
}
/* line 33, styles.less */
.y-main-wrapper > .y-container .y-header .y-rates .y-rate {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-left: solid 1px #cdcdcd;
  padding: 0 10px;
  line-height: 100%;
  height: 40px;
}
/* line 41, styles.less */
.y-main-wrapper > .y-container .y-header .y-rates .y-rate .y-container {
  padding: 15px 15px 15px 15px;
  top: -15px;
}
/* line 44, styles.less */
.y-main-wrapper > .y-container .y-header .y-rates .y-rate .y-container:hover,
.y-main-wrapper > .y-container .y-header .y-rates .y-rate .y-container.active {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 3px 5px #cccccc;
  -o-box-shadow: 0px 3px 5px #cccccc;
  -webkit-box-shadow: 0px 3px 5px #cccccc;
  -moz-box-shadow: 0px 3px 5px #cccccc;
  background: #ffffff;
}
/* line 48, styles.less */
.y-main-wrapper > .y-container .y-header .y-rates .y-rate .y-container:hover .y-btn,
.y-main-wrapper > .y-container .y-header .y-rates .y-rate .y-container.active .y-btn {
  display: block;
}
/* line 51, styles.less */
.y-main-wrapper > .y-container .y-header .y-rates .y-rate .y-container:hover p.y-status,
.y-main-wrapper > .y-container .y-header .y-rates .y-rate .y-container.active p.y-status {
  margin-bottom: 20px;
}
/* line 56, styles.less */
.y-main-wrapper > .y-container .y-header .y-rates .y-rate p {
  margin: 0;
}
/* line 58, styles.less */
.y-main-wrapper > .y-container .y-header .y-rates .y-rate p.y-name {
  margin-bottom: 15px;
}
/* line 61, styles.less */
.y-main-wrapper > .y-container .y-header .y-rates .y-rate p.y-status {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
}
/* line 67, styles.less */
.y-main-wrapper > .y-container .y-header .y-rates .y-rate .y-btn {
  display: none;
}
/* line 70, styles.less */
.y-main-wrapper > .y-container .y-header .y-rates .y-rate i.fa {
  color: #7eb12f;
  font-size: 1.8rem;
  line-height: 0;
  margin-left: 7px;
}
/* line 76, styles.less */
.y-main-wrapper > .y-container .y-header .y-rates .y-rate .y-name {
  font-size: 1.4rem;
  color: #7e7e7e;
  font-weight: 700;
}
/* line 81, styles.less */
.y-main-wrapper > .y-container .y-header .y-rates .y-rate:first-child {
  border: none;
}
/* line 86, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet {
  float: right;
  margin-top: 8px;
}
/* line 89, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet .y-photo-container {
  width: 62px;
  height: 61px;
  background: url('../images/sun-bg.png') center center no-repeat;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 7px;
  float: left;
}
/* line 97, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet .y-photo-container .y-photo-radius {
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 102, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet .y-photo-container .y-photo-radius img {
  display: block;
  width: 100%;
}
/* line 108, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet .y-greeting {
  margin-bottom: 7px;
}
/* line 111, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet .y-text {
  float: left;
  font-size: 1.2rem;
  color: #333;
  margin-left: 10px;
}
/* line 116, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet .y-text .y-name {
  font-size: 1.4rem;
  font-weight: 600;
}
/* line 119, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet .y-text .y-name:hover .y-profile-menu-container {
  display: block;
}
/* line 122, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet .y-text .y-name:hover span {
  border: none;
}
/* line 125, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet .y-text .y-name span {
  border-bottom: dotted 1px #333;
}
/* line 130, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet .y-profile-menu-container {
  position: absolute;
  width: 200px;
  top: 100%;
  right: 0;
  padding-top: 10px;
  z-index: 1;
  display: none;
}
/* line 138, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet .y-profile-menu-container .y-caret-up {
  position: absolute;
  left: 50%;
  margin-left: -11px;
  width: 22px;
  height: 10px;
  top: 0;
  background: url('../images/caret-up.png');
}
/* line 147, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet .y-profile-menu-container ul {
  box-shadow: 0 3px 3px #aaaaaa;
  -o-box-shadow: 0 3px 3px #aaaaaa;
  -webkit-box-shadow: 0 3px 3px #aaaaaa;
  -moz-box-shadow: 0 3px 3px #aaaaaa;
  width: 100%;
  background: #fff;
}
/* line 152, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet .y-profile-menu-container ul li a {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #333333;
  padding: 5px 20px;
  font-size: 1.4rem;
}
/* line 159, styles.less */
.y-main-wrapper > .y-container .y-header .y-profile-snippet .y-profile-menu-container ul li a:hover {
  text-decoration: none;
  background: #e7e7e7;
}
/* line 169, styles.less */
.y-main-wrapper > .y-container .y-header .y-welcome {
  float: right;
}
/* line 171, styles.less */
.y-main-wrapper > .y-container .y-header .y-welcome .sign-in-arrow {
  width: 202px;
  height: 23px;
  position: absolute;
  right: 125px;
  top: 60px;
  background: url('../images/signin-arrow.png');
}
/* line 179, styles.less */
.y-main-wrapper > .y-container .y-header .y-welcome .y-icon {
  float: left;
  width: 53px;
  height: 54px;
  background: url('../images/icons/notice.png');
  margin-right: 20px;
  margin-top: 10px;
}
/* line 187, styles.less */
.y-main-wrapper > .y-container .y-header .y-welcome .y-welcome-text {
  font-size: 1.4rem;
  float: left;
  margin-right: 40px;
}
/* line 191, styles.less */
.y-main-wrapper > .y-container .y-header .y-welcome .y-welcome-text span.bold {
  font-weight: 700;
  font-size: 1.5rem;
}
/* line 196, styles.less */
.y-main-wrapper > .y-container .y-header .y-welcome a.y-btn {
  float: left;
  padding: 8px 40px 7px 40px;
  margin-top: 12px;
  font-size: 1.6rem;
}
/* line 204, styles.less */
.y-main-wrapper > .y-container ul.y-mainmenu {
  border-top: solid 1px #cdcdcd;
  border-bottom: solid 1px #cdcdcd;
  width: 100%;
  overflow: hidden;
}
/* line 209, styles.less */
.y-main-wrapper > .y-container ul.y-mainmenu li:not(.flr) {
  float: left;
}
/* line 211, styles.less */
.y-main-wrapper > .y-container ul.y-mainmenu li:not(.flr) a {
  display: block;
  color: #333333;
  font-size: 1.5rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  margin: 10px 38px;
  text-transform: uppercase;
}
/* line 220, styles.less */
.y-main-wrapper > .y-container ul.y-mainmenu li:not(.flr):hover a {
  color: #ff9100;
  text-decoration: none;
}
/* line 226, styles.less */
.y-main-wrapper > .y-container ul.y-mainmenu li:not(.flr).active a {
  color: #ff9100;
  border-bottom: solid 4px #ff9100;
  margin: 10px 15px 0px 15px;
  padding-bottom: 6px;
}
/* line 234, styles.less */
.y-main-wrapper > .y-container ul.y-mainmenu li.flr {
  font-size: 1.4rem;
  text-transform: none;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 240, styles.less */
.y-main-wrapper > .y-container ul.y-mainmenu li.flr a {
  padding: 4px 15px;
  display: block;
}
/* line 243, styles.less */
.y-main-wrapper > .y-container ul.y-mainmenu li.flr a:hover {
  text-decoration: none;
}
/* line 247, styles.less */
.y-main-wrapper > .y-container ul.y-mainmenu li.flr.y-plans a {
  color: #333;
  font-weight: 600;
}
/* line 250, styles.less */
.y-main-wrapper > .y-container ul.y-mainmenu li.flr.y-plans a:hover {
  color: #ff9100;
}
/* line 254, styles.less */
.y-main-wrapper > .y-container ul.y-mainmenu li.flr.y-help {
  margin-right: 20px;
}
/* line 259, styles.less */
.y-main-wrapper > .y-container ul.y-submenu {
  overflow: hidden;
  padding: 10px 15px;
  border-bottom: solid 1px #cdcdcd;
  box-shadow: 0 1px  2px #ddd inset;
}
/* line 264, styles.less */
.y-main-wrapper > .y-container ul.y-submenu li {
  float: left;
  max-width: 16.666%;
  margin-left: 105px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 270, styles.less */
.y-main-wrapper > .y-container ul.y-submenu li:first-child {
  margin-left: 0;
}
/* line 273, styles.less */
.y-main-wrapper > .y-container ul.y-submenu li a {
  color: #333333;
  font-size: 1.4rem;
  font-weight: 500;
}
/* line 277, styles.less */
.y-main-wrapper > .y-container ul.y-submenu li a:hover {
  text-decoration: none;
  color: #ff9100;
}
/* line 282, styles.less */
.y-main-wrapper > .y-container ul.y-submenu li.active a {
  color: #ff9100;
}
/* line 287, styles.less */
.y-main-wrapper > .y-container .y-sidebar {
  width: 300px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-left: solid 1px #cdcdcd;
  background: #f4f4f4;
  float: right;
}
/* line 295, styles.less */
.y-main-wrapper > .y-container .y-content-container {
  overflow: hidden;
  background: #ffffff;
}
/* line 298, styles.less */
.y-main-wrapper > .y-container .y-content-container h1 {
  padding: 1% 5%;
  margin: 5% auto;
}
/* line 301, styles.less */
.y-main-wrapper > .y-container .y-content-container h1 span {
  color: #009bcd;
}
/* line 305, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-left {
  float: left;
  width: 41%;
  padding: 1% 1% 2% 5%;
  text-align: center;
  margin-bottom: 30px;
}
/* line 311, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-left img {
  border-radius: 50%;
}
/* line 314, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-left h2 {
  margin: 5% auto;
}
/* line 317, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-left p {
  font-family: "Open Sans", sans-serif;
  color: #687c8a;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 155%;
  text-align: left;
  margin: 2% 0;
}
/* line 327, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-right {
  float: right;
  width: 41%;
  padding: 1% 5% 2% 1%;
  text-align: center;
  margin-bottom: 30px;
}
/* line 333, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-right img {
  border-radius: 50%;
}
/* line 336, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-right h2 {
  margin: 5% auto;
}
/* line 339, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-right p {
  font-family: "Open Sans", sans-serif;
  color: #687c8a;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 155%;
  text-align: left;
}
/* line 348, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews {
  background: #fff8e8;
  padding: 3%;
}
/* line 351, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews h1 {
  margin: 2% auto;
}
/* line 355, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-contents {
  background: #ffffff;
  border: solid 2px #efc45e;
  border-radius: 10px;
  padding: 3%;
  font-family: "Open Sans", sans-serif;
  color: #404c53;
  font-size: 1.5rem;
  font-style: italic;
  text-align: left;
  min-height: 140px;
}
/* line 366, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-contents .y-quote {
  width: 41px;
  height: 13px;
  position: absolute;
  bottom: -11.5px;
  left: 50%;
  margin-left: -20px;
  background: url('../images/quote-arrow.png') center center no-repeat;
}
/* line 375, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-contents .y-review {
  display: none;
}
/* line 382, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-photos {
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
/* line 386, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-photos .y-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
  height: 27px;
  margin-top: -13px;
}
/* line 393, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-photos .y-controls .y-arrow {
  width: 15px;
  height: 27px;
  background: url('../images/arrows-sprite.png') no-repeat;
}
/* line 397, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-photos .y-controls .y-arrow.left {
  float: left;
  margin-left: 20px;
  cursor: pointer;
  background-position: 0 -27px;
}
/* line 402, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-photos .y-controls .y-arrow.left:hover {
  background-position: 0 0;
}
/* line 406, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-photos .y-controls .y-arrow.right {
  float: right;
  margin-right: 20px;
  cursor: pointer;
  background-position: -15px -27px;
}
/* line 411, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-photos .y-controls .y-arrow.right:hover {
  background-position: -15px 0;
}
/* line 417, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-photos .y-photos-container {
  width: 80%;
  height: 100%;
  margin: auto;
  z-index: 1;
  overflow: hidden;
}
/* line 423, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-photos .y-photos-container .y-photos-wrapper {
  height: 100%;
  top: 8px;
}
/* line 427, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-photos .y-photos-container .y-photo-radius {
  border-radius: 500px;
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  -o-border-radius: 500px;
  overflow: hidden;
  width: 14%;
  margin-left: 3%;
  margin-right: 3%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: solid 2px #ffffff;
  cursor: pointer;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ie-transform: scale(0.9);
  transition: transform 0.5s ease, border-color 0.5s ease;
  -o-transition: -o-transform 0.5s ease, border-color 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease, border-color 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease, border-color 0.5s ease;
}
/* line 447, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-photos .y-photos-container .y-photo-radius img {
  display: block;
  width: 100%;
}
/* line 451, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-photos .y-photos-container .y-photo-radius.half-active {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ie-transform: scale(1);
}
/* line 458, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-photos .y-photos-container .y-photo-radius.active {
  border-color: #ff9100;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ie-transform: scale(1.2);
}
/* line 466, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-reviews .y-review-slider .y-photos .y-photos-container .y-photo-radius:hover {
  border-color: #ff9100;
}
/* line 474, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-statistics {
  margin: 30px;
}
/* line 476, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-statistics h1 {
  margin: 0;
  margin-bottom: 30px;
}
/* line 480, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-statistics .y-students {
  float: left;
  width: 25%;
  text-align: center;
}
/* line 484, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-statistics .y-students p.y-number {
  font-family: "Open Sans", sans-serif;
  color: #131329;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  margin: 5% auto;
}
/* line 493, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-statistics .y-students p.y-name {
  font-family: "Open Sans", sans-serif;
  color: #131329;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  margin: 1% auto;
}
/* line 503, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-statistics .y-courses {
  float: left;
  width: 25%;
  text-align: center;
}
/* line 507, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-statistics .y-courses p.y-number {
  font-family: "Open Sans", sans-serif;
  color: #131329;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  margin: 5% auto;
}
/* line 516, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-statistics .y-courses p.y-name {
  font-family: "Open Sans", sans-serif;
  color: #131329;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  margin: 1% auto;
}
/* line 526, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-statistics .y-city {
  float: left;
  width: 25%;
  text-align: center;
}
/* line 530, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-statistics .y-city p.y-number {
  font-family: "Open Sans", sans-serif;
  color: #131329;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  margin: 5% auto;
}
/* line 539, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-statistics .y-city p.y-name {
  font-family: "Open Sans", sans-serif;
  color: #131329;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  margin: 1% auto;
}
/* line 549, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-statistics .y-people {
  float: left;
  width: 25%;
  text-align: center;
}
/* line 553, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-statistics .y-people p.y-number {
  font-family: "Open Sans", sans-serif;
  color: #131329;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  margin: 5% auto;
}
/* line 562, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-statistics .y-people p.y-name {
  font-family: "Open Sans", sans-serif;
  color: #131329;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  margin: 1% auto;
}
/* line 574, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-start {
  background: -webkit-linear-gradient(162deg, #ffaf00 31%, #ff9100 69%);
  background: -moz-linear-gradient(162deg, #ffaf00 31%, #ff9100 69%);
  background: -o-linear-gradient(162deg, #ffaf00 31%, #ff9100 69%);
  background: -ms-linear-gradient(162deg, #ffaf00 31%, #ff9100 69%);
  background: linear-gradient(-72deg, #ffaf00 31%, #ff9100 69%);
  text-align: center;
}
/* line 581, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-start img {
  float: left;
  margin: 0;
  padding: 3% 6%;
}
/* line 586, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-start p {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
  width: 50%;
  float: left;
  margin: 0;
  padding: 4% 1%;
}
/* line 596, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-start a.y-button {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 0px 0px #4c760c;
  color: #333333;
  font-size: 1.8rem;
  text-align: left;
  text-decoration: none;
  padding: 1% 2%;
  width: 15%;
  float: right;
  margin: 5% 20px 5px 0;
}
/* line 608, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-start a.y-button:hover {
  background: #7eb12f;
  color: #ffffff;
}
/* line 614, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-lifewheel {
  margin-top: 40px;
}
/* line 616, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-lifewheel h3 {
  color: #131329;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 400;
}
/* line 622, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-lifewheel .y-lifewheel-container {
  width: 635px;
  height: 550px;
  margin: auto;
}
/* line 626, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-lifewheel .y-lifewheel-container .target-text {
  position: absolute;
  width: 140px;
  height: 135px;
  top: 210px;
  left: 245px;
  font-size: 1.6rem;
  text-align: center;
}
/* line 635, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-lifewheel .y-lifewheel-container .y-item {
  position: absolute;
  width: 217px;
  height: 221px;
  cursor: pointer;
}
/* line 641, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-lifewheel .y-lifewheel-container .y-item.y-health {
  background: url('../images/lifewheel/health.png') 0 0 no-repeat;
  z-index: 2;
  top: 162px;
  left: 16px;
}
/* line 647, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-lifewheel .y-lifewheel-container .y-item.y-relationship {
  background: url('../images/lifewheel/relationship.png') 0 0 no-repeat;
  left: 110px;
  top: 0;
  z-index: 2;
}
/* line 653, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-lifewheel .y-lifewheel-container .y-item.y-progress {
  background: url('../images/lifewheel/progress.png') 0 0 no-repeat;
  left: 300px;
  top: 0;
  z-index: 2;
}
/* line 659, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-lifewheel .y-lifewheel-container .y-item.y-finance {
  background: url('../images/lifewheel/finance.png') 0 0 no-repeat;
  top: 162px;
  left: 395px;
  z-index: 2;
}
/* line 665, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-lifewheel .y-lifewheel-container .y-item.y-environment {
  background: url('../images/lifewheel/environment.png') 0 0 no-repeat;
  left: 300px;
  top: 324px;
  z-index: 2;
}
/* line 671, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-lifewheel .y-lifewheel-container .y-item.y-spirity {
  background: url('../images/lifewheel/spirity.png') 0 0 no-repeat;
  left: 110px;
  top: 324px;
  z-index: 2;
}
/* line 677, styles.less */
.y-main-wrapper > .y-container .y-content-container .y-test .y-lifewheel .y-lifewheel-container .y-item:hover {
  background-position: 0 -221px !important;
}
/* line 686, styles.less */
.y-main-wrapper > .y-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 690, styles.less */
.y-main-wrapper > .y-container .y-wrapper {
  height: 100%;
  left: 0;
}
/* line 693, styles.less */
.y-main-wrapper > .y-container .y-wrapper .y-slide {
  width: 760px;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
}
/* line 702, styles.less */
.y-main-wrapper > .y-subscribe {
  background: #bed6e3;
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 3% 0;
  border-top: solid 1px #cdcdcd;
  border-bottom: solid 1px #cdcdcd;
}
/* line 711, styles.less */
.y-main-wrapper > .y-subscribe .y-subscribe-form {
  background: #ffffff;
  width: 75%;
  margin: auto;
  border: solid 1px #cdcdcd;
  border-radius: 10px;
  padding-bottom: 3%;
}
/* line 718, styles.less */
.y-main-wrapper > .y-subscribe .y-subscribe-form img {
  float: right;
  position: absolute;
  top: -1px;
  right: -2px;
}
/* line 724, styles.less */
.y-main-wrapper > .y-subscribe .y-subscribe-form p.y-form-header {
  color: #323232;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  margin: 0;
  padding-top: 3%;
  padding-bottom: 1%;
}
/* line 734, styles.less */
.y-main-wrapper > .y-subscribe .y-subscribe-form p {
  color: #323232;
  font-size: 1.4rem;
  line-height: 150%;
  text-align: center;
  margin: 0;
  padding-bottom: 3%;
}
/* line 742, styles.less */
.y-main-wrapper > .y-subscribe .y-subscribe-form input[type="text"] {
  font-family: Arial;
  color: #323232;
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  text-align: left;
  padding: 1%;
  width: 27%;
  border-radius: 2px;
  border: solid 1px #cdcdcd;
  margin-right: 2%;
}
/* line 754, styles.less */
.y-main-wrapper > .y-subscribe .y-subscribe-form input[type="submit"] {
  background: #7eb12f;
  border-radius: 4px;
  border: solid 1px #b5de76;
  box-shadow: 0px 1px 0px 0px #567a1f;
  color: #ffffff;
  font-size: 1.7rem;
  line-height: 0%;
  text-align: center;
  padding: 2%;
  width: 20%;
  cursor: pointer;
}
/* line 767, styles.less */
.y-main-wrapper > .y-subscribe .y-subscribe-form input[type="submit"]:hover {
  background: #8fc240;
}
/* line 772, styles.less */
.y-main-wrapper .y-footer {
  background: #ffffff;
  border: solid 1px #cdcdcd;
  padding: 4%;
  text-align: center;
}
/* line 777, styles.less */
.y-main-wrapper .y-footer p {
  color: #323232;
  font-size: 1.8rem;
  line-height: 140%;
  text-align: center;
  margin: 0;
}
/* line 784, styles.less */
.y-main-wrapper .y-footer .y-email {
  float: left;
  width: 34%;
  text-align: center;
  margin: 3% 0;
}
/* line 789, styles.less */
.y-main-wrapper .y-footer .y-email p {
  color: #ff9100;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 200%;
  text-align: center;
}
/* line 795, styles.less */
.y-main-wrapper .y-footer .y-email p span {
  color: #323232;
  font-weight: 600;
}
/* line 801, styles.less */
.y-main-wrapper .y-footer .y-phone {
  float: left;
  width: 33%;
  text-align: center;
  margin: 3% 0;
}
/* line 806, styles.less */
.y-main-wrapper .y-footer .y-phone p {
  color: #ff9100;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 200%;
  text-align: center;
}
/* line 812, styles.less */
.y-main-wrapper .y-footer .y-phone p span {
  color: #323232;
  font-weight: 600;
}
/* line 818, styles.less */
.y-main-wrapper .y-footer .y-site {
  float: left;
  width: 33%;
  text-align: center;
  margin: 3% 0;
}
/* line 823, styles.less */
.y-main-wrapper .y-footer .y-site p {
  color: #ff9100;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 200%;
  text-align: center;
}
/* line 829, styles.less */
.y-main-wrapper .y-footer .y-site p span {
  color: #323232;
  font-weight: 600;
}
/* line 835, styles.less */
.y-main-wrapper .y-footer a.y-link {
  color: #009bcd;
  font-size: 1.5rem;
  line-height: 170%;
  text-decoration: underline;
  padding-left: 2%;
}
/* line 842, styles.less */
.y-main-wrapper .y-footer img {
  padding: 5%;
}
/* line 845, styles.less */
.y-main-wrapper .y-footer p.y-copyright {
  font-family: Arial;
  color: #323232;
  font-size: 1.2rem;
}
/* line 853, styles.less */
.y-intro-slider {
  width: 100%;
  height: 300px;
}
/* line 856, styles.less */
.y-intro-slider .y-container {
  height: 100%;
  width: 100%;
}
/* line 860, styles.less */
.y-intro-slider .y-controls {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 50%;
  height: 27px;
  margin-top: -13px;
}
/* line 867, styles.less */
.y-intro-slider .y-controls .y-arrow {
  width: 15px;
  height: 27px;
  background: url('../images/arrows-sprite.png') no-repeat;
}
/* line 871, styles.less */
.y-intro-slider .y-controls .y-arrow.left {
  float: left;
  margin-left: 20px;
  cursor: pointer;
  background-position: 0 -27px;
}
/* line 876, styles.less */
.y-intro-slider .y-controls .y-arrow.left:hover {
  background-position: 0 0;
}
/* line 880, styles.less */
.y-intro-slider .y-controls .y-arrow.right {
  float: right;
  margin-right: 20px;
  cursor: pointer;
  background-position: -15px -27px;
}
/* line 885, styles.less */
.y-intro-slider .y-controls .y-arrow.right:hover {
  background-position: -15px 0;
}
/* line 891, styles.less */
.y-intro-slider .y-nav {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 12px;
  z-index: 1;
}
/* line 897, styles.less */
.y-intro-slider .y-nav .y-wrapper {
  float: left;
  left: 50%;
}
/* line 900, styles.less */
.y-intro-slider .y-nav .y-wrapper .y-circles {
  float: right;
  right: 50%;
}
/* line 903, styles.less */
.y-intro-slider .y-nav .y-wrapper .y-circles .y-circle {
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  float: left;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  cursor: pointer;
  border: solid 1px #ff9100;
}
/* line 911, styles.less */
.y-intro-slider .y-nav .y-wrapper .y-circles .y-circle.active {
  background: #ff9100;
}
/*# sourceMappingURL=styles.css.map */