@import url('http://dowlatow.justclick.ru/media/css/page_ext.css');
/*ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ*/
/*ЦВЕТОВАЯ СХЕМА*/
/* line 11, styles.less */
.white {
  color: #ffffff;
}
/* line 14, styles.less */
.sea {
  color: #51727d;
}
/* line 17, styles.less */
.red {
  color: #f35347;
}
/* line 20, styles.less */
.green {
  color: #35d9ad;
}
/* line 23, styles.less */
.blue_dark {
  color: #2c3e50;
}
/*ПОДГРУЖАЕМЫЕ ШРИФТЫ*/
@font-face {
  font-family: 'Proxima Bold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold-webfont.woff2') format('woff2'), url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima BoldIt';
  src: url('../fonts/proximanova-boldit-webfont.eot');
  src: url('../fonts/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-boldit-webfont.woff2') format('woff2'), url('../fonts/proximanova-boldit-webfont.woff') format('woff'), url('../fonts/proximanova-boldit-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima RegIt';
  src: url('../fonts/proximanova-regit-webfont.eot');
  src: url('../fonts/proximanova-regit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regit-webfont.woff2') format('woff2'), url('../fonts/proximanova-regit-webfont.woff') format('woff'), url('../fonts/proximanova-regit-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-reg-webfont.eot');
  src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-reg-webfont.woff2') format('woff2'), url('../fonts/proximanova-reg-webfont.woff') format('woff'), url('../fonts/proximanova-reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*РАЗМЕРЫ ШРИФТОВ*/
/*ЗАГОЛОВКИ*/
/* line 80, styles.less */
h1 {
  font-family: "Proxima Nova", serif;
  color: #000;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 135%;
}
/* line 81, styles.less */
h2 {
  font-family: "Proxima Nova", serif;
  color: #000;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 135%;
}
/* line 82, styles.less */
h3 {
  font-family: "Proxima Nova", serif;
  color: #000;
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 135%;
}
/* line 86, styles.less */
body,
html {
  margin: 0;
  padding: 0;
}
/* line 90, styles.less */
html {
  font-size: 62.5% !important;
}
/* line 94, styles.less */
body {
  line-height: 135%;
  font-family: "Proxima Nova", sans-serif;
  font-size: 2.4rem;
  color: #51727d;
}
/* line 100, styles.less */
p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 135%;
}
/*ИМПОРТ*/
/*КЛАССЫ*/
/* line 2, common.less */
.italic {
  font-style: italic;
}
/* line 5, common.less */
.bold {
  font-weight: bold;
}
/* line 9, common.less */
input:focus,
textarea:focus {
  outline: none;
}
/*МИКСИНЫ*/
/* line 36, common.less */
.upper {
  text-transform: uppercase;
}
/* line 39, common.less */
.lower {
  text-transform: lowercase;
}
/* line 42, common.less */
.underline {
  text-decoration: underline;
}
/* line 1, structure.less */
label {
  display: block;
}
/* line 4, structure.less */
input[type="text"] {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  padding: 12px 12px;
  position: relative;
  background: #ffffff;
  font-size: 1.8rem;
  width: 100%;
  border: solid 1px #fff;
  color: #51727d;
  margin: 10px auto;
  margin-bottom: 30px;
}
/* line 18, structure.less */
input[type="submit"] {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: block;
  box-shadow: 0 4px 0 0 #1276b9;
  background: #3498db;
  padding: 10px 40px;
  text-transform: uppercase;
  border: none;
  font-size: 3.6rem;
  font-family: "Proxima Bold", sans-serif;
  font-weight: bold;
  margin: 10px auto;
  cursor: pointer;
}
/* line 32, structure.less */
.pt {
  font-family: "PT Serif", serif;
  font-style: italic;
}
/* line 37, structure.less */
.wrapper {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  width: 80%;
  height: auto;
  max-width: 1180px;
  min-width: 960px;
  margin: auto;
}
/* line 46, structure.less */
header.panel {
  background: #3498db;
  text-align: center;
  padding: 2px 0;
}
/* line 50, structure.less */
header.panel p {
  font-family: "Proxima Bold", sans-serif;
  text-transform: uppercase;
}
/* line 53, structure.less */
header.panel p i {
  margin: auto 25px;
}
/* line 58, structure.less */
section.header {
  position: relative;
  width: 100%;
  height: 805px;
  background: url('../images/header-bg.jpg') center center;
}
/* line 64, structure.less */
section.header .wrapper h1 {
  font-family: "Proxima", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 4.0rem;
  font-weight: 800;
  margin-top: 40px;
}
/* line 71, structure.less */
section.header .wrapper h1 span {
  background: #f35347;
  padding: 0 10px;
}
/* line 76, structure.less */
section.header .wrapper .player {
  position: relative;
  float: left;
  width: 50%;
  height: 410px;
}
/* line 82, structure.less */
section.header .wrapper form {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  float: right;
  width: 42%;
  margin: 20px;
}
/* line 88, structure.less */
section.header .wrapper form div.start {
  position: relative;
  color: #ffffff;
  font-family: "Proxima BoldIt", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2.4rem;
}
/* line 95, structure.less */
section.header .wrapper form div.start span {
  position: relative;
}
/* line 98, structure.less */
section.header .wrapper form div.start i.arrow-container {
  position: relative;
}
/* line 100, structure.less */
section.header .wrapper form div.start i.arrow-container .arrow1 {
  position: absolute;
  width: 43px;
  height: 52px;
  background: url('../images/arrow1.png') no-repeat;
  left: 10px;
  /* margin-left: -21px; */
  top: 15px;
}
/* line 112, structure.less */
section.header .wrapper form .field.name {
  margin-top: 55px;
}
/* line 115, structure.less */
section.header .wrapper form .field label {
  font-size: 1.4rem;
  margin-top: -10px;
}
/* line 120, structure.less */
section.header .wrapper form .field.submit input {
  width: 100%;
  text-align: center;
}
/* line 124, structure.less */
section.header .wrapper form .field.submit label {
  margin-top: -5px;
  text-align: center;
  color: #949fa0;
  line-height: 150%;
  margin-top: 12px;
}
/* line 133, structure.less */
section.header .wrapper form .confirm-text {
  position: relative;
  margin-top: 30px;
}
/* line 136, structure.less */
section.header .wrapper form .confirm-text .arrow2 {
  position: absolute;
  width: 33%;
  height: 125px;
  background: url('../images/arrow2.png') no-repeat;
  left: -60px;
  top: -100px;
}
/* line 144, structure.less */
section.header .wrapper form .confirm-text p {
  display: block;
  float: left;
  left: 50%;
  font-size: 2.4rem;
  text-align: center;
  position: relative;
  z-index: 1;
}
/* line 154, structure.less */
section.header .wrapper form .confirm-text p > span {
  position: relative;
  display: block;
  float: right;
  right: 50%;
  background: url('../images/label-bg.jpg');
  padding-right: 5px;
  padding-left: 5px;
}
/* line 165, structure.less */
section.header .wrapper form .confirm-text p .italic {
  font-family: "PT Serif", serif;
}
/* line 168, structure.less */
section.header .wrapper form .confirm-text p .upper {
  font-weight: bold;
  font-family: "Proxima Bold", sans-serif;
}
/* line 177, structure.less */
section.section2 {
  background: url('../images/section2-bg.jpg') bottom center no-repeat;
  padding-bottom: 40px;
}
/* line 180, structure.less */
section.section2 h1 {
  margin-top: 90px;
  text-transform: uppercase;
  font-family: "Proxima Bold", sans-serif;
  text-align: center;
  font-size: 6.0rem;
  color: #2c3e50;
}
/* line 188, structure.less */
section.section2 table.problems {
  position: relative;
  margin-top: 80px;
}
/* line 192, structure.less */
section.section2 table.problems tr td {
  vertical-align: top;
  padding: 4px 15px 20px 4px;
}
/* line 199, structure.less */
section.section3 {
  position: relative;
  height: 700px;
  background: url('../images/section3-bg.jpg') no-repeat center center;
}
/* line 203, structure.less */
section.section3 .wrapper {
  width: 1180px !important;
}
/* line 206, structure.less */
section.section3 h1 {
  text-align: center;
  font-family: "Proxima", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 4.8rem;
  margin-top: 150px;
}
/* line 213, structure.less */
section.section3 h1 .pt {
  text-transform: none;
  font-family: "PT Serif", serif;
  font-weight: 400;
}
/* line 220, structure.less */
section.section4 {
  background: url('../images/section4-bg.jpg') center top no-repeat;
  padding-top: 700px;
  padding-bottom: 100px;
}
/* line 224, structure.less */
section.section4 h1 {
  text-align: center;
  font-family: "Proxima Bold", sans-serif;
  text-transform: uppercase;
  font-size: 6.0rem;
  font-weight: 900;
  color: #2c3e50;
}
/* line 231, structure.less */
section.section4 h1 span.red {
  font-family: "Proxima", sans-serif;
}
/* line 235, structure.less */
section.section4 .resume {
  position: relative;
  text-align: center;
  width: 400px;
  margin: 60px auto 30px auto;
}
/* line 240, structure.less */
section.section4 .resume .arrow3 {
  position: absolute;
  width: 97px;
  height: 103px;
  background: url('../images/arrow3.png') center center no-repeat;
  left: -93px;
  top: -65px;
}
/* line 248, structure.less */
section.section4 .resume p {
  font-size: 3.6rem;
  color: #35d9ad;
}
/* line 253, structure.less */
section.section4 .resume + p {
  font-size: 3.0rem;
  text-align: left;
}
/* line 256, structure.less */
section.section4 .resume + p span.sea {
  font-weight: 700;
}
/* line 262, structure.less */
section.section5 {
  padding-top: 120px;
  background: url('../images/section5-bg.jpg') no-repeat top center;
  background-size: cover;
}
/* line 266, structure.less */
section.section5 .wrapper {
  position: relative;
  font-size: 3.0rem;
}
/* line 269, structure.less */
section.section5 .wrapper .left {
  position: relative;
  width: 60%;
}
/* line 272, structure.less */
section.section5 .wrapper .left p {
  margin: 35px 0;
}
/* line 278, structure.less */
section.section6 {
  position: relative;
  background: url('../images/section6-bg.jpg') left top no-repeat #f3f3f3;
  background-size: contain;
}
/* line 284, structure.less */
section.section6 .wrapper h1 {
  font-size: 7.2rem;
  margin-bottom: 20px;
  font-family: "Proxima", sans-serif;
  font-weight: 800;
  color: #2c3e50;
}
/* line 291, structure.less */
section.section6 .wrapper .right {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 1px;
  padding-left: 40px;
  position: relative;
  float: right;
  padding-bottom: 30px;
  font-size: 3.0rem;
  width: 55%;
  background: #f3f3f3;
}
/* line 301, structure.less */
section.section6 .wrapper .right p {
  margin: 25px 0;
}
/* line 307, structure.less */
section.section7 {
  padding-bottom: 70px;
}
/* line 310, structure.less */
section.section7 .wrapper .question {
  position: relative;
  width: 251px;
  height: 296px;
  background: url('../images/icons/question.png') center center no-repeat;
  margin: 100px auto;
}
/* line 317, structure.less */
section.section7 .wrapper h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Proxima Bold", sans-serif;
  font-size: 6.0rem;
  margin-bottom: 10px;
  color: #2c3e50;
}
/* line 324, structure.less */
section.section7 .wrapper h1 span.bold {
  font-family: "Proxima", sans-serif;
  font-weight: 800;
}
/* line 329, structure.less */
section.section7 .wrapper p {
  margin: 15px 0;
  font-size: 3.0rem;
  color: #7f8c8d;
}
/* line 336, structure.less */
section.section8 {
  position: relative;
  height: 660px;
}
/* line 339, structure.less */
section.section8 .bg-container {
  position: absolute;
  width: 50%;
  height: 100%;
  background: url('../images/blue-bg.png');
}
/* line 345, structure.less */
section.section8 .wrapper {
  overflow: hidden;
  height: 100%;
}
/* line 348, structure.less */
section.section8 .wrapper .left {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 40px;
  padding-left: 0;
  position: relative;
  float: left;
  background: url('../images/blue-bg.png');
  width: 55%;
  height: 100%;
}
/* line 357, structure.less */
section.section8 .wrapper .left h1 {
  font-family: "Proxima", sans-serif;
  font-weight: bold;
  font-size: 7rem;
  margin: 20px 0;
  font-weight: 800;
}
/* line 364, structure.less */
section.section8 .wrapper .left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 366, structure.less */
section.section8 .wrapper .left ul li {
  margin: 20px 0;
  padding-left: 60px;
  background: url('../images/icons/check.png') left 6px no-repeat;
}
/* line 373, structure.less */
section.section8 .wrapper .right {
  position: relative;
  float: right;
  width: 45%;
  height: 100%;
}
/* line 378, structure.less */
section.section8 .wrapper .right .photo-container {
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  -khtml-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  behavior: url(/template/PIE.htc);
  overflow: hidden;
  height: 100%;
}
/* line 382, structure.less */
section.section8 .wrapper .right .photo-container img {
  display: block;
  height: 100%;
}
/* line 390, structure.less */
section.section9 {
  background: url('../images/section9-bg.jpg') bottom center no-repeat;
  padding-top: 70px;
  padding-bottom: 240px;
}
/* line 395, structure.less */
section.section9 .wrapper h1 {
  text-align: center;
  font-size: 6.0rem;
  color: #2c3e50;
}
/* line 400, structure.less */
section.section9 .wrapper table {
  margin-top: 50px;
}
/* line 403, structure.less */
section.section9 .wrapper table tr td {
  vertical-align: top;
  padding: 4px 15px 30px 4px;
}
/* line 406, structure.less */
section.section9 .wrapper table tr td .number {
  border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -khtml-border-radius: 100%;
  -webkit-border-radius: 100%;
  text-align: center;
  border: solid 5px #35d9ad;
  color: #35d9ad;
  width: 25px;
  height: 24px;
  padding-top: 1px;
  font-size: 1.4rem;
  line-height: 25px;
  font-weight: bold;
}
/* line 423, structure.less */
section.section10 {
  background: #f3f3f3;
  margin-top: -5px;
}
/* line 426, structure.less */
section.section10 .head {
  position: relative;
  background: url('../images/light-blue-bg.png');
}
/* line 429, structure.less */
section.section10 .head .wrapper {
  padding: 10px 0;
  width: 1100px !important;
}
/* line 432, structure.less */
section.section10 .head .wrapper h1 {
  text-align: center;
  font-family: "Proxima Bold", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 6.0rem;
}
/* line 439, structure.less */
section.section10 .head .wrapper h1 span {
  color: #2c3e50;
}
/* line 445, structure.less */
section.section10 .separator {
  height: 139px;
  background: url('../images/arrow-bg.jpg') bottom center no-repeat;
}
/* line 449, structure.less */
section.section10 .body {
  height: 760px;
  background: url('../images/section10-bg.jpg') bottom center no-repeat;
}
/* line 453, structure.less */
section.section10 .body .wrapper h2 {
  color: #51727d;
  text-align: center;
  font-weight: bold;
  font-size: 4.0rem;
}
/* line 458, structure.less */
section.section10 .body .wrapper h2 .red {
  font-family: "Proxima", sans-serif;
  font-weight: 800;
}
/* line 463, structure.less */
section.section10 .body .wrapper form {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  float: right;
  width: 50%;
  margin: 90px 20px;
}
/* line 469, structure.less */
section.section10 .body .wrapper form div.start {
  position: relative;
  color: #51727d;
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-style: italic;
}
/* line 475, structure.less */
section.section10 .body .wrapper form div.start .arrow1 {
  position: absolute;
  width: 43px;
  height: 52px;
  background: url('../images/arrow1.png') no-repeat;
  left: 50%;
  margin-left: -21px;
  bottom: -48px;
}
/* line 486, structure.less */
section.section10 .body .wrapper form .field.name {
  margin-top: 55px;
}
/* line 489, structure.less */
section.section10 .body .wrapper form .field label {
  font-size: 1.4rem;
  margin-top: -10px;
  margin-bottom: 20px;
}
/* line 495, structure.less */
section.section10 .body .wrapper form .field.submit input {
  width: 100%;
  text-align: center;
  color: #ffffff;
}
/* line 500, structure.less */
section.section10 .body .wrapper form .field.submit label {
  margin-top: -5px;
  text-align: center;
}
/* line 506, structure.less */
section.section10 .body .wrapper form .confirm-text {
  position: relative;
  margin-top: 50px;
}
/* line 509, structure.less */
section.section10 .body .wrapper form .confirm-text .arrow2 {
  position: absolute;
  width: 172px;
  height: 125px;
  background: url('../images/arrow2.png') no-repeat;
  left: -60px;
  top: -100px;
}
/* line 517, structure.less */
section.section10 .body .wrapper form .confirm-text p {
  font-size: 2rem;
  text-align: center;
}
/* line 520, structure.less */
section.section10 .body .wrapper form .confirm-text p .italic {
  font-family: "PT Serif", serif;
}
/* line 523, structure.less */
section.section10 .body .wrapper form .confirm-text p .upper {
  font-weight: bold;
  font-family: "Proxima Bold", sans-serif;
}
/* line 532, structure.less */
section.section10 .ps {
  position: relative;
  text-align: center;
  padding-top: 20px;
  font-family: "Proxima Bold", sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  color: #2c3e50;
}
/* line 542, structure.less */
footer {
  background: #2c3e50;
  padding: 10px 0;
}
/* line 545, structure.less */
footer p {
  font-weight: bold;
  font-size: 2.4rem;
}
/*# sourceMappingURL=styles.css.map */