/* line 1, styles.less */
* {
  position: relative;
}
/* line 4, styles.less */
a.u-pay {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  width: 75%;
  display: block;
  background: url('../images/bg-payment.png');
  background-size: cover;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: auto;
  padding: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-bottom: solid 2px #d3e917;
}
/* line 24, styles.less */
a.u-pay span {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 28, styles.less */
a.u-pay:hover {
  background: url('../images/bg-payment-h.png');
}
/* line 32, styles.less */
p {
  font-family: "Open Sans", sans-serif;
  color: #5c6770;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
/* line 40, styles.less */
h1 {
  font-family: "Open Sans", sans-serif;
  color: #030917;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
}
/* line 49, styles.less */
h2 {
  ont-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
/* line 56, styles.less */
h3 {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
/* line 63, styles.less */
.u-timer_red {
  display: block;
  height: 275px;
  width: 720px;
  background: url('../images/bg-timer_red.png') left center no-repeat;
}
/* line 68, styles.less */
.u-timer_red .u-time {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
/* line 75, styles.less */
.u-timer_red .u-time .u-hours {
  font-size: 20px;
}
/* line 78, styles.less */
.u-timer_red .u-time .u-minutes {
  font-size: 20px;
}
/* line 81, styles.less */
.u-timer_red .u-time .u-seconds {
  font-size: 20px;
}
/* line 86, styles.less */
div.u-wrapper {
  width: 720px;
  font-family: 'Open Sans', sans-serif;
}
/* line 89, styles.less */
div.u-wrapper div.u-header {
  margin: 0;
  background: url('../images/bd-header.jpg') left top no-repeat;
  height: 620px;
}
/* line 93, styles.less */
div.u-wrapper div.u-header .u-sale {
  padding-top: 42px;
  height: 72px;
}
/* line 96, styles.less */
div.u-wrapper div.u-header .u-sale .u-sale-center {
  display: block;
  height: 68px;
  background: url('../images/bg-sale.png');
  margin: 0 56px;
  float: left;
  position: relative;
}
/* line 103, styles.less */
div.u-wrapper div.u-header .u-sale .u-sale-center .u-sale-left {
  display: block;
  height: 68px;
  width: 55px;
  background: url('../images/bg-sale-left.png');
  top: 4px;
  position: absolute;
  left: -54px;
}
/* line 112, styles.less */
div.u-wrapper div.u-header .u-sale .u-sale-center .u-sale-right {
  display: block;
  height: 68px;
  width: 55px;
  background: url('../images/bg-sale-right.png');
  top: 4px;
  position: absolute;
  right: -53px;
}
/* line 121, styles.less */
div.u-wrapper div.u-header .u-sale .u-sale-center p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 15px 32px;
}
/* line 128, styles.less */
div.u-wrapper div.u-header .u-sale .u-sale-center p span {
  font-size: 22px;
}
/* line 134, styles.less */
div.u-wrapper div.u-header .u-title {
  display: block;
  height: 120px;
  width: 648px;
  background: url('../images/title.png') left center no-repeat;
  margin-top: 250px;
  margin-left: 40px;
}
/* line 142, styles.less */
div.u-wrapper div.u-header .u-timer_red {
  top: -50px;
}
/* line 147, styles.less */
div.u-wrapper .u-content .u-how {
  margin-top: 115px;
}
/* line 150, styles.less */
div.u-wrapper .u-content .u-how p {
  margin: 0;
  margin: 30px 75px 10px 75px;
}
/* line 154, styles.less */
div.u-wrapper .u-content .u-how h1 {
  margin: 0;
  margin: 30px 75px 10px 75px;
}
/* line 158, styles.less */
div.u-wrapper .u-content .u-how h3 {
  margin: 0;
  margin: 30px 75px 10px 75px;
}
/* line 162, styles.less */
div.u-wrapper .u-content .u-how a {
  margin-top: 15px;
}
/* line 166, styles.less */
div.u-wrapper .u-content .u-video {
  background: url('../images/bg-video.png') left center no-repeat;
  height: 600px;
}
/* line 169, styles.less */
div.u-wrapper .u-content .u-video h2 {
  color: #ffffff;
  margin: 0;
  padding-top: 60px;
}
/* line 174, styles.less */
div.u-wrapper .u-content .u-video iframe {
  margin: 15px 50px 0 50px;
}
/* line 178, styles.less */
div.u-wrapper .u-content .u-result {
  margin: 0;
  margin-left: 35px;
}
/* line 181, styles.less */
div.u-wrapper .u-content .u-result h1 {
  margin: 0 35px;
}
/* line 184, styles.less */
div.u-wrapper .u-content .u-result ul {
  margin: 0;
  padding: 0;
  margin-top: 25px;
}
/* line 188, styles.less */
div.u-wrapper .u-content .u-result ul li {
  list-style: none;
  background: url('../images/icon.png') left top no-repeat;
  font-family: 'Open Sans', sans-serif;
  color: #5c6770;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  padding: 0 0 25px 60px;
}
/* line 200, styles.less */
div.u-wrapper .u-content .u-result a.u-pay {
  margin-top: 30px;
}
/* line 205, styles.less */
div.u-wrapper .u-content .u-reviews h1 {
  margin: 50px 100px 30px 100px;
}
/* line 208, styles.less */
div.u-wrapper .u-content .u-reviews .u-review-container {
  background: #d4eab5;
  overflow: hidden;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0 20px;
  padding: 20px;
}
/* line 219, styles.less */
div.u-wrapper .u-content .u-reviews .u-review-container .u-review {
  margin: 0;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 224, styles.less */
div.u-wrapper .u-content .u-reviews .u-review-container .u-review:nth-child(even) .u-photo-container {
  float: right;
}
/* line 228, styles.less */
div.u-wrapper .u-content .u-reviews .u-review-container .u-review:nth-child(even) .u-content {
  margin-left: 0;
  margin-right: 30px;
}
/* line 231, styles.less */
div.u-wrapper .u-content .u-reviews .u-review-container .u-review:nth-child(even) .u-content .arrow {
  background: url('../images/review-right.png') no-repeat;
  right: -15px;
  left: auto;
  position: absolute;
}
/* line 242, styles.less */
div.u-wrapper .u-content .u-reviews .u-review-container .u-review .u-photo-container {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-border-radius: 40px;
  float: left;
  margin: 0px;
}
/* line 253, styles.less */
div.u-wrapper .u-content .u-reviews .u-review-container .u-review .u-content {
  height: auto;
  width: 480px;
  background: #fff;
  float: left;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 20px;
  box-shadow: 2px 2px 4px #b1cc8c;
  margin-top: 10px;
  margin-left: 30px;
}
/* line 266, styles.less */
div.u-wrapper .u-content .u-reviews .u-review-container .u-review .u-content .arrow {
  width: 15px;
  height: 27px;
  position: absolute;
  background: url('../images/review-left.png') no-repeat;
  left: -15px;
  top: 20px;
}
/* line 274, styles.less */
div.u-wrapper .u-content .u-reviews .u-review-container .u-review .u-content .u-name {
  margin: 0;
  color: #ec8500;
}
/* line 278, styles.less */
div.u-wrapper .u-content .u-reviews .u-review-container .u-review .u-content p {
  margin: 0;
  margin-top: 15px;
  text-align: left;
  font-size: 14px;
}
/* line 289, styles.less */
div.u-wrapper .u-footer {
  margin-top: 0px;
}
/* line 291, styles.less */
div.u-wrapper .u-footer .u-sale {
  background: url('../images/bd-footer.jpg') left top no-repeat;
  height: 520px;
  background-size: contain;
  bottom: -170px;
}
/* line 300, styles.less */
div.u-wrapper .u-footer a {
  margin-top: 30px;
}
/* line 303, styles.less */
div.u-wrapper .u-footer p {
  margin-top: 15px;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}
/* line 310, styles.less */
div.u-wrapper .u-footer p span {
  font-size: 22px;
}
/*# sourceMappingURL=styles.css.map */