.no-script-layout{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #dbefe5;
    z-index: 1000;
    .wrapper{
        text-align: center;
        h1{
            margin-top: 100px;
        }
    }
}

body > .wrapper{
    min-height:600px;
}

.clr{
    clear:both;
}
*{
    position: relative;
    &:focus{
        outline:none;
    }
}
ul{
    padding:0;
    margin:0;
    list-style:none;
}
.hidden{
    display: none;
}
a{
    color:@sea;
}

aside.additional-menu{
    .content-block{
        padding: 0;
        overflow: hidden;
        ul{
            width: 100%;
            li{
                background: #f6fffb;
                border-top:solid 1px #e7f3ee;
                &:first-child{
                    border-top: none;
                }
                a{
                    box-sizing:border-box;
                    -moz-box-sizing:border-box;
                    padding:15px 25px;
                    display: block;
                    color: @sea_light;
                    font-weight: 500;
                    text-align: left;
                    text-decoration: none;
                    &:hover{
                        color:@sea;
                    }
                }
                &.active{
                    box-shadow:1px 2px 0px 0px rgba(0, 0, 0, 0.1);
                    z-index: 1;
                    a{
                        background: @white;
                        color:@sea;

                    }
                }
            }
        }
    }
}

.popup-menu{
    z-index: 10;
    padding-bottom: 10px;
    padding-left: 15px;
    a.dotts{
        margin-top: 5px;
    }
    &:hover .menu-container{
        display: block !important;
    }
    .menu-container{
        display: none;
        position: absolute;
        left: -205px;
        width: 200px;
        top: 0;
        .menu{
            position: relative;
            float: right;
            height:23px;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            border-radius:6px 0 0 6px;
            -moz-border-radius:6px 0 0 6px;
            -webkit-border-radius:6px 0 0 6px;
            -o-border-radius:6px 0 0 6px;
            border:dashed 1px #8aa4a2;
            border-right:none;
            background: @white;
            padding:0 2px 0 8px;
            cursor: pointer;
            a{
                display: inline-block;
                margin:0 2px;
                i{
                    line-height:23px;
                    font-size:1.4rem;
                    &:hover{
                        color:@sky;
                    }
                    &.fa-trash-o{
                        color:@red;
                    }
                }
                //float: left;
            }
            .siding{
                position: absolute;
                width: 15px;
                height: 23px;
                left:100%;
                top:-1px;
                background: url('../images/popup-menu-siding.png');
            }
        }
    }
    &.right-side{
        padding-left: 0;
        padding-right: 15px;
        .menu-container{
            display: none;
            position: absolute;
            right: -205px !important;
            left:auto;
            width: 200px;
            top: 0;
            .menu{
                float: left;
                border-radius:0 6px 6px 0;
                -moz-border-radius:0 6px 6px 0;
                -webkit-border-radius:0 6px 6px 0;
                -o-border-radius:0 6px 6px 0;
                padding:0 8px 0 2px;
                border:dashed 1px #8aa4a2;
                border-left:none;
                .siding{
                    right:100%;
                    left:auto;
                    top:-1px;
                    background: url('../images/popup-menu-siding-right.png');
                }
            }
        }
    }
}

//HEADER
header.header {
    width: 100%;
    padding:10px 30px;
    background: @white; 
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    overflow: hidden;
    .logo {
        border-radius:100%;
        -moz-border-radius:100%;
        -o-border-radius:100%;
        -webkit-border-radius:100%;
        float: left;        
    }
    .time{
        float: right;
        margin-right: 40px;
        p{
            display: block;
            float: left;
            margin-right: 20px;
            margin-top: 11px;
        }
        .clock{
            float: right;
        }
    }
    .project-name{
        float: left;
        margin-left: 10px;
        margin-top: 5px;
        .title {
            color: @sky;
            font-size: 1.2rem;
            font-weight: 900;
            text-transform: uppercase;
            margin:0;
        }
        .author{
            color: @sea_light;
            font-size: 1.0rem;
            font-weight: 300;
            margin:0;
        }
    }
    .sign-in {
        float: right;
        margin-top: 3px;
        &:hover{
        }
        &.btn{
        }
    }
    .profile-snippet{
        float: right;
        .photo-container{
            border-radius: 50px;
            -o-border-radius: 50px;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            float: left;
            width: 40px;
            height: 40px;
            overflow: hidden;
            border:solid 1px @sea_light;
            img{
                display: block;
                width: 100%;
            }
        }
        .info{
            float: left;
            margin-left: 10px;
            margin-top: 5px;
            .name{
                color: @sea;
                font: 500 1.4rem Roboto;
            }
            .job{
                color: @sky;
                font: 400 1.2rem Roboto;
            }
        }
        .more-container{
            float: left;
            margin-left: 10px;
            margin-top:10px;
            i{
                color: @sea;
                font-size:1.8rem;
                cursor: pointer;
            }
            .dropdown-menu{
                //временно скрываем, пока нет дизайна
                display: none;
            }
        }
    }
    .profile-notifications{
        float: right;
        margin-right:10px;
        margin-top: 10px;
        & > div{
            float: left;
            margin:0 15px;
            cursor: pointer;
            &.active i.fa{
                color:@red;
            }
            .count{
                position: absolute;
                border-radius:50px;
                width: 17px;
                background: @red;
                color:@white;
                height: 17px;
                border:solid 2px @white;
                right:-12px;
                top:-11px;
                text-align: center;
                z-index: 1;
                font: 500 1.1rem / 17px Roboto;
            }
            i.fa{
                color: @sea_light;
                font-size: 2.0rem;
            }
        }
    }
    .mainmenu {
        float: right;
        margin: 13px 0;
        li {
            float: left;
            text-transform: uppercase;
            font: 500 1.2rem Roboto;
            margin-right: 30px;
            a{
                color: @sea;
                text-decoration: none;
            }
        }
    }
}
.user-menu-section {
    background: #f8f8f8;
    overflow: hidden;
    padding: 20px 0;
    box-shadow: 1px 2px 0px 0.00px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 1px 2px 0px 0.00px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 2px 0px 0.00px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 0px 0.00px rgba(0, 0, 0, 0.1);
    .wrapper {
        .user-menu-container {
            right: 50%;
            float: right;
        }
        .user-menu {
            left: 50%;
            float: left;
            li {
                margin:0 10px;
                float: left;
            }
            a {
                color: @sea;
                font: 400 1.4rem  Roboto;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

//FOOTER
.footer {
    width: 100%;
    margin-top: 20px;
    a{
        text-decoration: none;
        color:@white;
    }
    section.library {
        background: @sky;
        padding:10px 0 20px 0;
        .logo{
            float: left;
            width: 25%;
            margin-top: 16px;
        }
        .title {
            float: left;
            width: 25%;
            h3 {
                color:@white;
            }
        }
        .library-list {
            float: right;
            width: 75%;
            margin-top: 8px;
            h4 {
                color:@white;
            }
            .items-container {
                width: 100%;
                .item {
                    float: left;
                    width: 33%;
                    color: @white;
                    font: 400 1.6rem Roboto;
                    margin:5px 0;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    section.bottom {
        background: @sky_dark;
        padding: 15px 0;
        overflow: hidden;
        p.copyright {
            display: block;
            float: left;
            color: @sea;
            font: 500 1.4rem Roboto;
            margin-left: 30px;
        }
        ul.footer-menu {
            float: right;
            margin-top: 13px;
            li {
                float: left;
                margin-right:30px;
                a {
                    font: 400 14px Roboto;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}