body.page-faq{
	& > .wrapper{
		.search-question{
			
		}
		.questions-container{
			overflow: hidden;
			float: left;
			width: 62%;
		}
		aside{
			float: right;
			margin-left: 2%;
			width: 36%;
		}
	}
}