body.page-library{
	.wrapper{
		section{
			&.search-article{
				background: @sky;
				margin-top: 30px;
				.select2-container{
					width: 100% !important;
					margin-top: 10px;
					.select2-selection__arrow{
						background: url('../images/interface/dropdown-arrow.png') center center no-repeat #41b6ad;
					}
					.select2-selection{
						border-color:#41b6ad;
					}
				}
				form{
					overflow: hidden;
					width: 85%;
					margin:auto;
					.left{
						width: 80%;
						float: left;
						margin-right: 20px;
						.field{
							&.category{
								float: left;
								width: 48%;
								margin-right: 4%;
							}
							&.author{
								overflow: hidden;

							}
						}
					}
					.right{
						overflow: hidden;
						input[type="submit"]{
							width: 100%;
							padding: 9px 17px 8px 17px;
						}
					}
				}
			}
			&.resume{
				overflow: hidden;
				float: left;
				width: 50%;
				margin-right: 2%;
				margin-top: 30px;
	            .left {
	                float: left;
	                width: 35%;
	                .photo {
	                    overflow: hidden;
	                    border-radius:7px;
	                    -o-border-radius:7px;
	                    -moz-border-radius:7px;
	                    -webkit-border-radius:7px;
	                    img {
	                        display: block;
	                        width: 100%;
	                    }
	                }
	                .place {
	                    margin-top: 17px;
	                    text-align: center;
	                    color: @sea_light;
	                    font: 400 1.2rem Roboto;
	                    .fa {
	                        color:@sky;
	                        &.fa-map-marker{
	                        }
	                    }
	                }
	            }
	            .right {
	                float: right;
	                width: 59%;
	                overflow: hidden;
	                header {
	                    overflow: hidden;
	                    .name {
	                        font: 700 1.8rem Roboto;
	                        a{
	                        	color: @sky;
	                        }
	                        .lastname {
	                            text-transform: uppercase;
	                        }
	                        .firstname {
	                            text-transform: none;
	                        }
	                        .job {
	                            color: @sea;
	                            font: 500 1.4rem Roboto;
	                            margin-top: 3px;
	                            span.age{
	                            	margin-left: 15px;
	                            	color:@sea_light;
	                            }
	                        }
	                        p{
	                            margin:0;
	                        }
	                    }
	                }
	               	.rating-block{
	               		width:50px;
	               		margin-top: 14px;
						margin-bottom: 11px;
	               	}
	               	a.btn{
	               		margin-top: 10px;
	               	}
	            }
	            & + .search-article{
	            	float: right;
	            	width: 48%;
	            	overflow: hidden;
	            	form{
	            		width: 100%;
	            		.left{
	            			width: 65%;
	            		}
	            		.right{

	            		}
	            		.select2-container{
	            			margin-top: 10px;
	            		}
	            	}
	            }
			}
			&.write-article{
				overflow: hidden;
				.align-container{
					float: right;
					right: 50%;
					.align-wrapper{
						float: left;
						left: 50%;
						a.btn{
							display: block;
							float: right;
							//width: 140px;
							margin-left: 40px;
							margin-top: 10px;
						}
						h1{
							display: block;
							float: left;
							overflow: hidden;
							font-size: 2.4rem;
							font-weight: 500;
						}
					}
				}
			}
			&.articles-flow{
				overflow: hidden;
				//width: 100%;
				&.three-columns{
					.article{
						width: 32%;
						margin-right: 2%;
						&:nth-child(3n){
							margin-right: 0;
						}
					}
				}
				&.four-columns{
					.article{
						&:nth-child(4n){
							margin-right: 0;
						}
					}
				}
				.column{
					float: left;
					width: 23%;
					margin-right: 2.66%;
				}
				.article{
					float: left;
					width: 23%;
					margin-right: 2.66%;
					padding: 0;
					overflow: hidden;
					margin-bottom: 20px;
					height:500px;
					.image{
						width: 100%;
						img{
							display: block;
							width: 100%;
						}
					}
					.content{
						width: 100%;
						box-sizing:border-box;
						-moz-box-sizing:border-box;
						padding: 20px 30px;
						.fader-container{
							overflow:hidden;
							height:165px;
							&.full-height{
								height: 385px;
							}
						}
						h4.article-name{
							padding-top: 0;
							font-size: 1.4rem;
							font-weight: 500;
							padding-top: 0;
						}
						p{
							font-size:1.1rem;
							margin:5px 0;
							&.category{
								color:@sea;
								margin-top: 0;
								font-weight: 500;
								span.value{
									color:@sea_light;
								}
							}
							&.author{
								font-size:1.2rem;
								color:@sky;
							}
							&.introtext{
								line-height:155%;
							}
							&.date{
								margin-top: 10px;
								color:#b9d4cc;
								font-size:1.0rem;
							}
						}
						a.btn{
							display: block;
							text-align: center;
							font-size:1.2.rem;
							margin-top: 15px;
						}
					}
				}
			}
		}
	}
}