body.page-profile-settings{
    section.content{
        float: left;
        width: 62%;
    }
    aside.additional-menu{
        float: left;
        margin-left: 2%;
        width: 36%;
        
    }
    &.common{
        section.content{
            .upload-photo{
                form{
                    .photo-container{
                        overflow: hidden;
                        float: left;
                        border-radius:4px;
                        -o-border-radius:4px;
                        -moz-border-radius:4px;
                        -webkit-border-radius:4px;
                        width: 130px;
                        height: 150px;
                        margin-right: 15px;
                        img{
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .control{
                overflow: hidden;
                input{
                    margin-bottom: 10px;
                }
                p{
                    color: @sea_light;
                    font: 400 1.2rem Roboto;
                }
            }
            form#profile-settings-form{
                margin-top: 20px;
                label{
                    color: @sea;
                    font: 500 1.4rem Roboto;
                    margin-bottom: 5px;
                }
                input{
                    margin-bottom: 0;
                }
                .field{
                    &.firstname, &.lastname, &.middlename{
                        float: left;
                        width: 48%;
                        margin-right: 4%;
                        &.lastname{
                            margin-right: 0;
                        }
                    }
                }
                input[type="submit"]{
                    margin-right: 20px;
                    margin-top: 20px;
                }
                .field{
                    margin-bottom: 10px;
                    &.gender{
                        width: 48%;
                        .select2-container{
                            width: 100% !important;
                        }
                    }
                    &.birthdate{
                        .day{
                            float: left;
                            width: 25%;
                            margin-right: 3%;
                        }
                        .month{
                            float: left;
                            width: 44%;
                            margin-right: 3%;
                        }
                        .year{
                            float: left;
                            width: 25%;
                        }
                        .select2-container{
                            width: 100% !important;
                        }
                    }
                    &.country, &.city{
                        float: left;
                        width: 48% !important;
                        margin-right: 4%;
                        .select2-container{
                            width: 100% !important;
                        }
                        &.city{
                            margin-right: 0;
                        }
                    }
                    &.visibility{
                        div.radio{
                            overflow: hidden;
                            margin:2px 0;
                            .radio.container{
                                float: left;
                                margin-right: 10px;
                            }
                            label{
                                overflow: hidden;
                                font-weight:normal;
                                color:@sea_light;
                                margin-top: 4px;
                            }
                        }
                    }
                    &.information{
                        textarea{
                            height: 100px;
                        }
                    }
                }
            }
        }
    }
    &.security{
        form{
            .field{
                float: left;
                width: 48%;
                margin-right: 4%;
                &.confirm-password{
                    margin-right: 0;
                }
            }
            input[type="submit"]{
                margin-right: 20px;
                margin-top: 30px;
            }
        }
    }
    &.about-me{
        form{
            .field.upload{
                .preview{
                    float: left;
                    width: 80px;
                    margin-right: 15px;
                    border-radius:4px;
                    -o-border-radius:4px;
                    -moz-border-radius:4px;
                    -webkit-border-radius:4px;
                    overflow: hidden;
                    img{
                        display: block;
                        width: 100%;
                    }
                }
                .buttons{
                    float: left;
                    width: 38%;
                    .btn{
                        margin-bottom: 10px;
                    }
                }
                p{
                    display: block;
                    overflow: hidden;
                    text-align: center;
                    font-size:1.2rem;
                    margin-top: 10px;
                    top: 7px;
                }
            }
            a.add-document-button{
                margin-top: 15px;
                text-align: center;
                font-size:1.2rem;
                font-weight: 500;
                background: #e9f7f1;
                display: block;
                padding:5px 0;
                color:@sea_light;
                text-decoration: none;
                margin-bottom: 30px;
                &:hover{
                    background: #e9f7f1 - #111;
                    color:@sea;
                }
            }
            .select2-container{
                width: 40% !important;
                margin-right: 4%;
            }
            section.specialization{
                .field{
                    float: left;
                    width: 48%;
                    margin:5px 0;
                    &:nth-child(even){
                        margin-right: 0;
                    }
                    .checkbox{
                        float: left;
                        margin-right: 10px;
                        &.checked + label{
                            color:@sky;
                        }
                    }
                    label{
                        display: block;
                        overflow: hidden;
                        margin:2px 0;
                        font-size:500;
                    }
                }
                input[type="text"]{
                    margin-top: 20px;
                }
            }
            section.education{
                .university{
                    .input-container{
                        overflow: hidden;
                    }
                    a#remove-university{
                        display: block;
                        float: right;
                        border-radius:15px;
                        -o-border-radius:15px;
                        -moz-border-radius:15px;
                        -webkit-border-radius:15px;
                        width: 15px;
                        height: 15px;
                        line-height: 15px;
                        border:solid 3px @sea_light;
                        text-align: center;
                        margin-left: 15px;
                        margin-top: 7px;
                        i{
                            color:@sea_light;
                        }
                        &:hover{
                            border-color:@sea;
                            i{
                                color:@sea;
                            }
                        }
                    }
                }
            }
            section.professional{
                .certificate{
                    .input-container{
                        overflow: hidden;
                    }
                    a#remove-certificate{
                        display: block;
                        float: right;
                        border-radius:15px;
                        -o-border-radius:15px;
                        -moz-border-radius:15px;
                        -webkit-border-radius:15px;
                        width: 15px;
                        height: 15px;
                        line-height: 15px;
                        border:solid 3px @sea_light;
                        text-align: center;
                        margin-left: 15px;
                        margin-top: 7px;
                        i{
                            color:@sea_light;
                        }
                        &:hover{
                            border-color:@sea;
                            i{
                                color:@sea;
                            }
                        }
                    }
                }
            }
            input[type="submit"]{
                margin-right: 20px;
                margin-top: 30px;
            }
        }
    }
    &.contacts{
        form{
            .field{
                float: left;
                width: 48%;
                margin-right: 4%;
                &.phone{
                    margin-right: 0;
                }
            }
            input[type="submit"]{
                margin-right: 20px;
                margin-top: 30px;
            }
        }
    }
    &.consults{
        .prices{
            margin-bottom: 20px;
            .item{
                margin-bottom: 0px;
                
                label.name{
                    text-transform: uppercase;
                    font-size:1.4rem;
                    color:@sea_light;
                    display: block;
                    float: left;
                }
                .toggle.container{
                    margin-top: 7px;
                    margin-left: 15px;
                    float: left;
                    & + p:after{
                        content: 'активировать';
                    }
                    &.checked + p:after{
                        content: 'активно';
                        color:@sky;
                    }
                } 
                p{
                    display: block;
                    float: left;
                    margin-left: 10px;
                    font-size:1.2rem;
                }
                .price{
                    height: 0;
                    transition:all 0.2s ease;
                    overflow: hidden;
                    input{
                        width: 120px;
                        display:inline-block;
                        margin-right: 10px;
                    }
                }
                &.active{
                    .price{
                        height: 50px;
                    }
                }
            }
            .pay-notice{
                .date{
                    color:@sea;
                    font-weight: bold;
                    margin-bottom: 15px;
                }
            }
        }
        .places{
            .item{
                overflow: hidden;
                margin-bottom:8px;
                a.remove-place{
                    border-radius:13px;
                    -o-border-radius:13px;
                    -moz-border-radius:13px;
                    -webkit-border-radius:13px;
                    display: block;
                    float: left;
                    width: 15px;
                    height: 15px;
                    border:solid @red_light 2px;
                    text-align: center;
                    line-height: 13px;
                    margin-right: 8px;
                    top:2px;
                    i{
                        color:@red_light;
                        font-size:1.1rem;
                    }
                }
                span.address{
                    margin-right:20px;
                }
                input{
                    
                }
                .radio.container{
                    top: 4px;
                    margin-right: 4px;
                }
                label{
                    display: inline;
                }
            }
            input.plus{
                margin:20px 0 30px 0;
            }
        }
        input[type="submit"]{
            margin-right: 20px;
        }
    }
    &.worktime{
        form{
            .day{
                overflow: hidden;
                h3{
                    color: @sea_light;
                    font-size: 1.4rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-top: 15px;
                    margin-top: 0;
                }
                .field{
                    float: left;
                    width: 48%;
                    label{
                        color: @sea;
                        font-size: 1.4rem;
                        font-weight: 500;
                        margin-top: 0;
                    }
                    &.begin{
                        margin-right: 4%;
                    }
                    .select2-container{
                        width: 100% !important;
                    }
                }
            }
            input[type="submit"]{
                margin-top: 30px;
                margin-right: 20px;
                padding: 9px 17px 6px 17px;
            }
        }
    }
    &.payment{
        & > .wrapper{
            section.content{
                .payment-block{
                    .content-block{
                        padding: 0;
                        overflow: hidden;
                        .plan{
                            float: left;
                            margin-top: 20px;
                            margin-left: 4%;
                            width: 43%;
                            overflow: hidden;
                            border-radius:10px;
                            -o-border-radius:10px;
                            -webkit-border-radius:10px;
                            -moz-border-radius:10px;
                            padding-bottom: 30px;
                            &.basic{
                                background: @sea_light;
                                color:@white;
                                h4{
                                    color:#b9d4cc;
                                }
                                h4 span{
                                    background: @sea_light;
                                }
                                p.price{
                                    color:#b9d4cc;
                                    .value{
                                        color:@white;
                                    }
                                }
                            }
                            &.expert{
                                background: #f2f2f2;
                                color:@sea_light;
                                h4{
                                    color:@sea_light;
                                }
                                h4 span{
                                    background: #f2f2f2;
                                }
                                p.price{
                                    color:#b9d4cc;
                                    .value{
                                        color:@sea_light;
                                    }
                                }
                            }
                            h4{
                                border-bottom:solid 1px #b9d4cc;
                                line-height:0;
                                text-align: center;
                                width: 100%;
                                padding: 0;
                                margin:20px auto;
                                font-size: 1.1rem; 
                                font-weight: 500;
                                text-transform: uppercase;
                                span{
                                    padding-left: 10px;
                                    padding-right: 10px;
                                }
                            }
                            p{
                                text-align: center;
                            }
                            p.title{
                                font-size:2.4rem;
                                font-weight:500;
                                margin-top: 0;
                                margin-bottom: 0;
                            }
                            p.price{
                                font-size:1.6rem;
                                margin-bottom: 20px;
                            }
                            p.status{
                                font-size:1.2rem;
                                i{
                                    font-size:1.4rem;
                                }
                            }
                            a.payment-button{
                                width:100px;
                                display: block;
                                margin:auto;
                                text-align: center;
                                margin-top:-4px;
                            }
                        }
                        p.agreement{
                            color:  #8aa4a2;
                            font-size: 1.2rem;
                            font-style: italic;
                            padding:15px 20px 0 20px;
                            display: block;
                            a{
                                font-weight:500;
                                text-decoration: none;
                                color:@sky;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                        .info{
                            border-top:solid 1px #b9d4cc;
                            background: #f8f8f8;
                            box-sizing:border-box;
                            -moz-box-sizing:border-box;
                            padding:15px 20px;
                            margin-top: 30px;
                            i{
                                display: block;
                                float: left;
                                font-size:4rem;
                                margin-right: 20px;
                            }
                            .text{
                                overflow: hidden;
                                p{
                                    margin: 2px 0;
                                    font-weight:500;
                                    .date{
                                        font-weight:700;
                                        color:@sea;
                                    }
                                }
                            }
                        }
                    }
                }
                .tarification-block{
                    .content-block{
                        padding: 0;
                        table{
                            border-collapse:collapse;
                            width: 100%;
                            tr{
                                td,th{
                                    border-bottom:solid 1px #b9d4cc;
                                }
                            }
                            th, td{
                                padding:15px 20px;
                            }
                            thead{
                                th{
                                    padding: 25px 20px;
                                    color:@sea_light;
                                    font-weight:400;
                                    text-align: left;
                                }
                            }
                            tbody{
                                td{
                                    &.func{
                                        color:@sea;
                                        font-weight:700;
                                    }
                                    &:not(.func){
                                        text-align: center;
                                        width:80px;
                                    }
                                    i.fa{
                                        font-size:2.4rem;
                                        &.fa-check{
                                            color:@green;
                                        }
                                        &.fa-times{
                                            color:@red;
                                        }
                                    }
                                    span.endnote{
                                        font-size:1.0rem;
                                        color:@sea_light;
                                        line-height:100%;
                                        display: block;
                                        margin-top: 5px;
                                    }
                                }
                                tr:last-child{
                                    td{
                                        vertical-align: top;
                                        color:@sea_light;
                                        font-size:1.0rem;
                                        font-weight:500;
                                        span{
                                            color:@sea;
                                            font-size:1.4rem
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}