body.page-text{
	.content-block{
		h1{
			color:  #35504e;
			font-size: 3.0rem; 
			font-weight: 500;
			line-height: 48px;
			text-align: center;
			text-transform: uppercase;
		}
		h2{
			color:  #35504e;
			font-size: 1.8rem;
			font-weight: 400;
			line-height: 22px;
		}
		h3{

		}
		ul{
			padding: 0;
		}
		ol{
			padding: 0;
		}
		color:#93aba9;
		.sea{
			color:#35504e;
		}
		.yellow{
			color:#ffaa3e;
		}
		.bold{
			font-weight: 500;
		}
		.italic{
			font-style:italic;
		}
		.fll{
			display: block;
			float: left;
			margin-right: 20px;
		}
		.flr{
			display: block;
			float: right;
			margin-left: 20px;
		}
		.ovh{
			overflow: hidden;
		}
		p{
			margin:10px 0;
			line-height:150%;
		}
	}
}