@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,300,700,500italic,300italic,400&subset=latin,cyrillic);
/*ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ*/
/*ЦВЕТОВАЯ СХЕМА*/
/*ПОДГРУЖАЕМЫЕ ШРИФТЫ*/
/*РАЗМЕРЫ ШРИФТОВ*/
/*ЗАГОЛОВКИ*/
/* line 25, interface.less */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
}
/* line 28, interface.less */
h1 {
  color: #35504e;
  font: 500 3.6rem Roboto;
  margin: 0;
  padding: 10px 0;
}
/* line 34, interface.less */
h2 {
  color: #35504e;
  font: 500 3.0rem Roboto;
  margin: 0;
  padding: 10px 0;
}
/* line 40, interface.less */
h3 {
  color: #35504e;
  font: 500 2.4rem Roboto;
  margin: 0;
  padding: 10px 0;
}
/* line 46, interface.less */
h4 {
  color: #35504e;
  font: 500 1.8rem Roboto;
  margin: 0;
  padding: 10px 0;
}
/* line 52, interface.less */
h5 {
  color: #35504e;
  font: 500 1.4rem Roboto;
  margin: 0;
  padding: 10px 0;
}
/* line 58, interface.less */
h6 {
  color: #35504e;
  font: 500 1.2rem Roboto;
  margin: 0;
  padding: 10px 0;
}
/* line 64, interface.less */
body,
html {
  margin: 0;
  padding: 0;
}
/* line 69, interface.less */
html {
  font-size: 62.5% !important;
}
/* line 72, interface.less */
body {
  line-height: 135%;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #8aa4a2;
  background: #dbefe5;
}
/* line 79, interface.less */
p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 135%;
}
/*ИМПОРТ*/
/* line 1, cheat-sheet.less */
.wrapper {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  max-width: 960px;
}
/* line 7, cheat-sheet.less */
.wrapper > section {
  margin-bottom: 30px;
}
/* line 9, cheat-sheet.less */
.wrapper > section.colors {
  overflow: hidden;
}
/* line 11, cheat-sheet.less */
.wrapper > section.colors > div {
  position: relative;
  float: left;
  width: 33%;
  margin-right: 1%;
  border: solid 1px #ccc;
}
/* line 18, cheat-sheet.less */
.wrapper > section.colors .color {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 5px;
  position: relative;
  float: left;
  width: 33.333%;
}
/* line 25, cheat-sheet.less */
.wrapper > section.colors .color#sky {
  background: #4ad0c5;
  color: #179d92;
}
/* line 26, cheat-sheet.less */
.wrapper > section.colors .color#sea {
  background: #35504e;
  color: #688381;
}
/* line 27, cheat-sheet.less */
.wrapper > section.colors .color#blue_light {
  background: #dbefe5;
  color: #a8bcb2;
}
/* line 28, cheat-sheet.less */
.wrapper > section.colors .color#sky_dark {
  background: #41b6ad;
  color: #0e837a;
}
/* line 29, cheat-sheet.less */
.wrapper > section.colors .color#sea_light {
  background: #8aa4a2;
  color: #57716f;
}
/* line 30, cheat-sheet.less */
.wrapper > section.colors .color#white {
  background: #ffffff;
  color: #aaaaaa;
}
/* line 31, cheat-sheet.less */
.wrapper > section.colors .color#green_light {
  background: #33b679;
  color: #008346;
}
/* line 32, cheat-sheet.less */
.wrapper > section.colors .color#red_light {
  background: #f85649;
  color: #c52316;
}
/* line 33, cheat-sheet.less */
.wrapper > section.colors .color#yellow {
  background: #fac944;
  color: #c79611;
}
/* line 34, cheat-sheet.less */
.wrapper > section.colors .color#green {
  background: #0f9b58;
  color: #006825;
}
/* line 35, cheat-sheet.less */
.wrapper > section.colors .color#red {
  background: #eb5245;
  color: #b81f12;
}
/* line 36, cheat-sheet.less */
.wrapper > section.colors .color#yellow_dark {
  background: #ffaa3e;
  color: #aa5500;
}
/* line 40, cheat-sheet.less */
.wrapper > section.elements .buttons {
  overflow: hidden;
}
/* line 42, cheat-sheet.less */
.wrapper > section.elements .buttons .item {
  position: relative;
  margin-right: 2%;
  float: left;
}
/* line 48, cheat-sheet.less */
.wrapper > section.elements .checkboxes {
  overflow: hidden;
}
/* line 50, cheat-sheet.less */
.wrapper > section.elements .checkboxes .item {
  position: relative;
  margin-right: 2%;
  float: left;
}
/* line 58, cheat-sheet.less */
.wrapper > section.forms .item {
  width: 50%;
}
/* line 62, cheat-sheet.less */
.wrapper > section select {
  width: 100%;
}
/*ЭЛЕМЕНТЫ*/
/* line 89, interface.less */
.btn {
  box-shadow: 0 3px 0 0 #41b6ad;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  background: #4ad0c5;
  color: #ffffff;
  padding: 8px 17px 5px 17px;
  margin-bottom: 3px;
}
/* line 98, interface.less */
.btn.small {
  padding: 4px 17px 1px 17px;
}
/* line 101, interface.less */
.btn:hover {
  background: #52c7be;
}
/* line 104, interface.less */
.btn:active {
  background: #41b6ad;
}
/* line 108, interface.less */
.btn.red {
  background: #f85649;
  box-shadow: 0 3px 0 0 #da4134;
}
/* line 111, interface.less */
.btn.red:hover {
  background: #eb5245;
}
/* line 114, interface.less */
.btn.red:active {
  background: #da4134;
}
/* line 118, interface.less */
.btn.yellow {
  background: #fac944;
  box-shadow: 0 3px 0 0 #ffaa3e;
}
/* line 121, interface.less */
.btn.yellow:hover {
  background: #ffbb4f;
}
/* line 124, interface.less */
.btn.yellow:active {
  background: #ffaa3e;
}
/* line 128, interface.less */
.btn.green {
  background: #33b679;
  box-shadow: 0 3px 0 0 #0f9b58;
}
/* line 131, interface.less */
.btn.green:hover {
  background: #20ac69;
}
/* line 134, interface.less */
.btn.green:active {
  background: #0f9b58;
}
/* line 138, interface.less */
.btn.ghost {
  background: none;
  box-shadow: none;
  border: solid 1px #35504e;
  color: #35504e;
}
/* line 143, interface.less */
.btn.ghost:hover {
  color: #ffffff;
  background: #577270;
}
/* line 147, interface.less */
.btn.ghost:active {
  color: #ffffff;
  background: #35504e;
}
/*ЧЕКБОКСЫ*/
/* line 155, interface.less */
.container.toggle {
  display: inline-block;
  border-radius: 50px;
  background: #8aa4a2;
  padding: 2px;
  width: 38px;
  height: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
  -webkit-user-select: none;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
}
/* line 167, interface.less */
.container.toggle .handle {
  position: relative;
  border-radius: 18px;
  width: 18px;
  height: 18px;
  background: #35504e;
  transition: left 0.3s ease;
  left: 0;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
}
/* line 178, interface.less */
.container.toggle.checked {
  background: #4ad0c5;
}
/* line 180, interface.less */
.container.toggle.checked .handle {
  left: 19px;
}
/* line 185, interface.less */
.container.checkbox {
  display: inline-block;
  border-radius: 3px;
  background: #dbefe5;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url('../images/interface/checkbox-sprite.png') center 0 no-repeat;
}
/* line 193, interface.less */
.container.checkbox.checked {
  background-position: center -20px;
}
/* line 198, interface.less */
input[type="text"],
textarea {
  display: block;
  border-radius: 5px;
  border: solid 1px;
  border-color: #8aa4a2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px 12px;
  margin: 0 0 20px 0;
  transition: border-color 0.3s ease;
  -webkit-transition: border-color 0.3s ease;
  -moz-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  width: 100%;
  color: #8aa4a2;
  font: 400 1.2rem Roboto;
}
/* line 215, interface.less */
input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #4ad0c5;
}
/* line 220, interface.less */
.input-container {
  position: relative;
}
/* line 222, interface.less */
.input-container .clear {
  width: 10px;
  height: 11px;
  position: absolute;
  right: 8px;
  top: 12px;
  cursor: pointer;
  z-index: 1;
  background: url('../images/interface/clear-sprite.png') center 0 no-repeat;
}
/* line 231, interface.less */
.input-container .clear:hover {
  background-position: center -11px;
}
/* line 234, interface.less */
.input-container .clear.hidden {
  display: none;
}
/* line 239, interface.less */
textarea {
  resize: none;
}
/* line 242, interface.less */
label {
  display: block;
  margin: 10px 0;
}
/* line 246, interface.less */
select.select2 {
  min-width: 300px;
}
/* line 250, interface.less */
.select2-container *:focus {
  outline: none !important;
}
/* line 253, interface.less */
.select2-container .select2-selection {
  border: solid 1px;
  border-color: #8aa4a2;
  height: 36px !important;
}
/* line 257, interface.less */
.select2-container .select2-selection .select2-selection__rendered {
  line-height: 36px !important;
}
/* line 260, interface.less */
.select2-container .select2-selection .select2-selection__arrow {
  background: url('../images/interface/dropdown-arrow.png') center center no-repeat #8aa4a2;
  width: 60px !important;
  height: 34px !important;
}
/* line 264, interface.less */
.select2-container .select2-selection .select2-selection__arrow b {
  display: none;
}
/*# sourceMappingURL=interface.css.map */