@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,300,700,500italic,300italic,400&subset=latin,cyrillic);
/*ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ*/
/*ЦВЕТОВАЯ СХЕМА*/
/*ПОДГРУЖАЕМЫЕ ШРИФТЫ*/
/*РАЗМЕРЫ ШРИФТОВ*/
/*ЗАГОЛОВКИ*/
/* line 25, interface.less */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
}
/* line 28, interface.less */
h1 {
  color: #35504e;
  font: 500 3.6rem Roboto;
  margin: 0;
  padding: 10px 0;
}
/* line 34, interface.less */
h2 {
  color: #35504e;
  font: 500 3.0rem Roboto;
  margin: 0;
  padding: 10px 0;
}
/* line 40, interface.less */
h3 {
  color: #35504e;
  font: 500 2.4rem Roboto;
  margin: 0;
  padding: 10px 0;
}
/* line 46, interface.less */
h4 {
  color: #35504e;
  font: 500 1.8rem Roboto;
  margin: 0;
  padding: 10px 0;
}
/* line 52, interface.less */
h5 {
  color: #35504e;
  font: 500 1.4rem Roboto;
  margin: 0;
  padding: 10px 0;
}
/* line 58, interface.less */
h6 {
  color: #35504e;
  font: 500 1.2rem Roboto;
  margin: 0;
  padding: 10px 0;
}
/* line 64, interface.less */
body,
html {
  margin: 0;
  padding: 0;
}
/* line 69, interface.less */
html {
  font-size: 62.5% !important;
}
/* line 72, interface.less */
body {
  line-height: 135%;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #8aa4a2;
  background: #dbefe5;
}
/* line 79, interface.less */
p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 135%;
}
/*ИМПОРТ*/
/*ЭЛЕМЕНТЫ*/
/* line 89, interface.less */
.btn {
  box-shadow: 0 3px 0 0 #41b6ad;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  background: #4ad0c5;
  color: #ffffff;
  padding: 9px 17px 6px 17px;
  margin-bottom: 3px;
  border: none;
  cursor: pointer;
  transition: background-color, color 0.3s ease;
  -o-transition: background-color, color 0.3s ease;
  -moz-transition: background-color, color 0.3s ease;
  -webkit-transition: background-color, color 0.3s ease;
}
/* line 104, interface.less */
.btn.small {
  padding: 4px 17px 1px 17px;
}
/* line 107, interface.less */
.btn:hover {
  background: #52c7be;
}
/* line 110, interface.less */
.btn:active {
  background: #41b6ad;
}
/* line 114, interface.less */
.btn.red {
  background: #f85649;
  box-shadow: 0 3px 0 0 #da4134;
}
/* line 117, interface.less */
.btn.red:hover {
  background: #eb5245;
}
/* line 120, interface.less */
.btn.red:active {
  background: #da4134;
}
/* line 124, interface.less */
.btn.yellow {
  background: #fac944;
  box-shadow: 0 3px 0 0 #ffaa3e;
}
/* line 127, interface.less */
.btn.yellow:hover {
  background: #ffbb4f;
}
/* line 130, interface.less */
.btn.yellow:active {
  background: #ffaa3e;
}
/* line 134, interface.less */
.btn.green {
  background: #33b679;
  box-shadow: 0 3px 0 0 #0f9b58;
}
/* line 137, interface.less */
.btn.green:hover {
  background: #20ac69;
}
/* line 140, interface.less */
.btn.green:active {
  background: #0f9b58;
}
/* line 144, interface.less */
.btn.ghost {
  background: none;
  box-shadow: none;
  border: solid 1px #35504e;
  color: #35504e;
  padding: 7px 17px 6px 17px;
}
/* line 150, interface.less */
.btn.ghost:hover {
  color: #ffffff;
  background: #577270;
}
/* line 154, interface.less */
.btn.ghost:active {
  color: #ffffff;
  background: #35504e;
}
/* line 158, interface.less */
.btn.ghost.red {
  color: #eb5245;
  border-color: #eb5245;
}
/* line 161, interface.less */
.btn.ghost.red:hover,
.btn.ghost.red:active {
  color: #ffffff;
  background: #eb5245;
}
/*ЧЕКБОКСЫ*/
/* line 170, interface.less */
.container.toggle {
  display: inline-block;
  border-radius: 50px;
  background: #8aa4a2;
  padding: 2px;
  width: 38px;
  height: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
  -webkit-user-select: none;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
}
/* line 182, interface.less */
.container.toggle .handle {
  position: relative;
  border-radius: 18px;
  width: 18px;
  height: 18px;
  background: #35504e;
  transition: left 0.3s ease;
  left: 0;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
}
/* line 193, interface.less */
.container.toggle.checked {
  background: #4ad0c5;
}
/* line 195, interface.less */
.container.toggle.checked .handle {
  left: 19px;
}
/* line 200, interface.less */
.container.checkbox {
  display: inline-block;
  border-radius: 3px;
  background: #dbefe5;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url('../images/interface/checkbox-sprite.png') center 0 no-repeat;
}
/* line 208, interface.less */
.container.checkbox.checked {
  background-position: center -20px;
}
/* line 213, interface.less */
input[type="text"],
textarea {
  display: block;
  border-radius: 5px;
  border: solid 1px;
  border-color: #8aa4a2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px 12px;
  margin: 0 0 20px 0;
  transition: border-color 0.3s ease;
  -webkit-transition: border-color 0.3s ease;
  -moz-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  width: 100%;
  color: #8aa4a2;
  font: 400 1.2rem Roboto;
}
/* line 230, interface.less */
input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #4ad0c5;
}
/* line 235, interface.less */
.input-container {
  position: relative;
}
/* line 237, interface.less */
.input-container .clear {
  width: 10px;
  height: 11px;
  position: absolute;
  right: 8px;
  top: 12px;
  cursor: pointer;
  z-index: 1;
  background: url('../images/interface/clear-sprite.png') center 0 no-repeat;
}
/* line 246, interface.less */
.input-container .clear:hover {
  background-position: center -11px;
}
/* line 249, interface.less */
.input-container .clear.hidden {
  display: none;
}
/* line 254, interface.less */
textarea {
  resize: none;
}
/* line 257, interface.less */
label {
  display: block;
  margin: 10px 0;
}
/* line 261, interface.less */
select.select2 {
  min-width: 300px;
}
/* line 265, interface.less */
.select2-container *:focus {
  outline: none !important;
}
/* line 268, interface.less */
.select2-container .select2-selection {
  border: solid 1px;
  border-color: #8aa4a2;
  height: 36px !important;
}
/* line 272, interface.less */
.select2-container .select2-selection .select2-selection__rendered {
  line-height: 36px !important;
}
/* line 275, interface.less */
.select2-container .select2-selection .select2-selection__arrow {
  background: url('../images/interface/dropdown-arrow.png') center center no-repeat #8aa4a2;
  width: 60px !important;
  height: 34px !important;
  top: 0px !important;
  right: 0px !important;
}
/* line 281, interface.less */
.select2-container .select2-selection .select2-selection__arrow b {
  display: none;
}
/* line 287, interface.less */
.dashed {
  border: dashed 1px #b9d4cc;
}
/* line 290, interface.less */
.b-radius {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
}
/* line 296, interface.less */
.content-block {
  padding: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #ffffff;
  margin-bottom: 3px;
}
/* line 311, interface.less */
.rating-block {
  border-radius: 10px;
  padding: 0 10px;
  border: solid 1px #ffaa3e;
}
/* line 315, interface.less */
.rating-block p {
  margin: 4px auto;
  text-align: center;
}
/* line 318, interface.less */
.rating-block p.value {
  font-weight: 700;
  font-size: 1.8rem;
  color: #8aa4a2;
}
/* line 322, interface.less */
.rating-block p.value .current-value {
  color: #ffaa3e;
  font-weight: bold;
}
/* line 328, interface.less */
.rating-block p.title {
  position: absolute;
  color: #ffaa3e;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  display: block;
  bottom: -12px;
  width: 100%;
  left: 0;
}
/* line 338, interface.less */
.rating-block p.title span {
  background: #ffffff;
  padding: 0 3px;
  text-transform: uppercase;
}
/* line 347, interface.less */
.raiting-block.value .fa {
  color: #ffaa3e;
  font-size: 2.0rem;
  font-weight: normal;
  margin-right: 3px;
}
/* line 357, interface.less */
.raiting-block.vote .fa {
  color: #35504e;
  font-size: 2.0rem;
  font-weight: normal;
  margin-right: 3px;
  cursor: pointer;
}
/* line 363, interface.less */
.raiting-block.vote .fa.fa-star {
  color: #ffaa3e;
}
/* line 366, interface.less */
.raiting-block.vote .fa.active {
  color: #ffaa3e;
}
/* line 371, interface.less */
a.dotts {
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 0;
}
/* line 376, interface.less */
a.dotts .fa-circle {
  color: #8aa4a2;
  font-size: 0.3rem;
  display: block;
  float: left;
  margin-right: 2px;
}
/* line 385, interface.less */
ul.badge-marked li {
  background: url('../images/interface/badge.png') left 2px no-repeat;
  padding-left: 20px;
  margin: 3px 0;
}
/* line 393, interface.less */
.ui-widget-overlay.ui-front {
  background: rgba(0, 0, 0, 0.3);
}
/* line 396, interface.less */
.ui-dialog.ui-widget.ui-widget-content {
  background: #ffffff;
  padding: 10px;
}
/* line 399, interface.less */
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar.ui-widget-header {
  border: none;
  background: none;
  overflow: visible;
  position: absolute;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  z-index: 1;
}
/* line 408, interface.less */
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar.ui-widget-header .ui-dialog-titlebar-close {
  margin-right: .6em;
}
/* line 411, interface.less */
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar.ui-widget-header .ui-button.ui-widget {
  border: none;
  background: none;
}
/* line 1, global.less */
.clr {
  clear: both;
}
/* line 4, global.less */
* {
  position: relative;
}
/* line 6, global.less */
*:focus {
  outline: none;
}
/* line 10, global.less */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 15, global.less */
.hidden {
  display: none;
}
/* line 18, global.less */
a {
  color: #35504e;
}
/* line 23, global.less */
header.header {
  width: 100%;
  padding: 10px 30px;
  background: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
}
/* line 30, global.less */
header.header .logo {
  border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  float: left;
  width: 40px;
  height: 40px;
  background: #4ad0c5;
}
/* line 40, global.less */
header.header .title {
  display: block;
  float: left;
  color: #4ad0c5;
  font: 700 1.2rem Roboto;
  text-transform: uppercase;
  margin-top: 13px;
  margin-left: 10px;
}
/* line 49, global.less */
header.header .sign-in {
  float: right;
}
/* line 56, global.less */
header.header .profile-snippet {
  float: right;
}
/* line 58, global.less */
header.header .profile-snippet .photo-container {
  border-radius: 50px;
  -o-border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  float: left;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: solid 1px #8aa4a2;
}
/* line 68, global.less */
header.header .profile-snippet .photo-container img {
  display: block;
  width: 100%;
}
/* line 73, global.less */
header.header .profile-snippet .info {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}
/* line 77, global.less */
header.header .profile-snippet .info .name {
  color: #35504e;
  font: 500 1.4rem Roboto;
}
/* line 81, global.less */
header.header .profile-snippet .info .job {
  color: #4ad0c5;
  font: 400 1.2rem Roboto;
}
/* line 86, global.less */
header.header .profile-snippet .more-container {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
/* line 90, global.less */
header.header .profile-snippet .more-container i {
  color: #35504e;
  font-size: 1.8rem;
  cursor: pointer;
}
/* line 95, global.less */
header.header .profile-snippet .more-container .dropdown-menu {
  display: none;
}
/* line 101, global.less */
header.header .profile-notifications {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
/* line 105, global.less */
header.header .profile-notifications > div {
  float: left;
  margin: 0 15px;
  cursor: pointer;
}
/* line 109, global.less */
header.header .profile-notifications > div.active i.fa {
  color: #eb5245;
}
/* line 112, global.less */
header.header .profile-notifications > div .count {
  position: absolute;
  border-radius: 50px;
  width: 17px;
  background: #eb5245;
  color: #ffffff;
  height: 17px;
  border: solid 2px #ffffff;
  right: -12px;
  top: -11px;
  text-align: center;
  z-index: 1;
  font: 500 1.1rem / 17px Roboto;
}
/* line 126, global.less */
header.header .profile-notifications > div i.fa {
  color: #8aa4a2;
  font-size: 2.0rem;
}
/* line 132, global.less */
header.header .mainmenu {
  float: right;
  margin: 9px 0;
}
/* line 135, global.less */
header.header .mainmenu li {
  float: left;
  text-transform: uppercase;
  font: 500 1.2rem Roboto;
  margin-right: 30px;
}
/* line 140, global.less */
header.header .mainmenu li a {
  color: #35504e;
  text-decoration: none;
}
/* line 147, global.less */
.user-menu-section {
  background: #f8f8f8;
  overflow: hidden;
  padding: 20px 0;
  box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.1);
}
/* line 156, global.less */
.user-menu-section .wrapper .user-menu-container {
  right: 50%;
  float: right;
}
/* line 160, global.less */
.user-menu-section .wrapper .user-menu {
  left: 50%;
  float: left;
}
/* line 163, global.less */
.user-menu-section .wrapper .user-menu li {
  margin: 0 10px;
  float: left;
}
/* line 167, global.less */
.user-menu-section .wrapper .user-menu a {
  color: #35504e;
  font: 400 1.4rem  Roboto;
  text-decoration: none;
}
/* line 171, global.less */
.user-menu-section .wrapper .user-menu a:hover {
  text-decoration: underline;
}
/* line 180, global.less */
.footer {
  width: 100%;
  margin-top: 20px;
}
/* line 183, global.less */
.footer a {
  text-decoration: none;
  color: #ffffff;
}
/* line 187, global.less */
.footer section.library {
  background: #4ad0c5;
  padding: 10px 0 20px 0;
}
/* line 190, global.less */
.footer section.library .title {
  float: left;
  width: 25%;
}
/* line 193, global.less */
.footer section.library .title h3 {
  color: #ffffff;
}
/* line 197, global.less */
.footer section.library .library-list {
  float: right;
  width: 75%;
  margin-top: 8px;
}
/* line 201, global.less */
.footer section.library .library-list h4 {
  color: #ffffff;
}
/* line 204, global.less */
.footer section.library .library-list .items-container {
  width: 100%;
}
/* line 206, global.less */
.footer section.library .library-list .items-container .item {
  float: left;
  width: 33%;
  color: #ffffff;
  font: 400 1.6rem Roboto;
  margin: 5px 0;
}
/* line 212, global.less */
.footer section.library .library-list .items-container .item:hover {
  text-decoration: underline;
}
/* line 219, global.less */
.footer section.bottom {
  background: #41b6ad;
  padding: 15px 0;
  overflow: hidden;
}
/* line 223, global.less */
.footer section.bottom p.copyright {
  display: block;
  float: left;
  color: #35504e;
  font: 500 1.4rem Roboto;
  margin-left: 30px;
}
/* line 230, global.less */
.footer section.bottom ul.footer-menu {
  float: right;
  margin-top: 13px;
}
/* line 233, global.less */
.footer section.bottom ul.footer-menu li {
  float: left;
  margin-right: 30px;
}
/* line 236, global.less */
.footer section.bottom ul.footer-menu li a {
  font: 400 14px Roboto;
}
/* line 238, global.less */
.footer section.bottom ul.footer-menu li a:hover {
  text-decoration: underline;
}
/* line 2, mainpage.less */
body.page-mainpage .ui-button-icon-primary {
  margin-left: -16px !important;
  margin-top: 0 !important;
}
/* line 6, mainpage.less */
body.page-mainpage .modal#authorization-window {
  padding-bottom: 0;
}
/* line 9, mainpage.less */
body.page-mainpage .modal#authorization-window .container {
  padding-bottom: 80px;
}
/* line 11, mainpage.less */
body.page-mainpage .modal#authorization-window .container h1 {
  color: #35504e;
  font: 500 2.4rem Roboto;
  margin-bottom: 20px;
}
/* line 16, mainpage.less */
body.page-mainpage .modal#authorization-window .container .left {
  padding-right: 15px;
  width: 255px;
  float: left;
  border-right: solid 1px #b9d4cc;
}
/* line 21, mainpage.less */
body.page-mainpage .modal#authorization-window .container .left a.omni-sign-in {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px;
  clear: both;
  overflow: hidden;
  margin-bottom: 21px;
}
/* line 36, mainpage.less */
body.page-mainpage .modal#authorization-window .container .left a.omni-sign-in i {
  position: relative;
  height: 100%;
  display: block;
  float: left;
  border-right: solid 1px #2f4779;
  font-size: 1.8rem;
  padding: 10px 10px 10px 0;
  text-align: center;
  width: 30px;
}
/* line 47, mainpage.less */
body.page-mainpage .modal#authorization-window .container .left a.omni-sign-in span {
  position: relative;
  height: 100%;
  display: block;
  float: left;
  font-size: 1.2rem;
  padding-left: 15px;
  margin-top: 10px;
}
/* line 56, mainpage.less */
body.page-mainpage .modal#authorization-window .container .left a.omni-sign-in#fb {
  background: #3b5998;
}
/* line 59, mainpage.less */
body.page-mainpage .modal#authorization-window .container .left a.omni-sign-in#vk {
  background: #4c75a3;
}
/* line 62, mainpage.less */
body.page-mainpage .modal#authorization-window .container .left a.omni-sign-in#ok {
  background: #fa9616;
  margin-bottom: 0;
}
/* line 65, mainpage.less */
body.page-mainpage .modal#authorization-window .container .left a.omni-sign-in#ok i {
  border-color: #d98314;
}
/* line 71, mainpage.less */
body.page-mainpage .modal#authorization-window .container .right {
  width: 255px;
  float: right;
  padding-left: 15px;
}
/* line 75, mainpage.less */
body.page-mainpage .modal#authorization-window .container .right .btn {
  width: 100%;
}
/* line 78, mainpage.less */
body.page-mainpage .modal#authorization-window .container .right p {
  color: #8aa4a2;
  font: 400 1.2rem Roboto;
  text-align: center;
}
/* line 82, mainpage.less */
body.page-mainpage .modal#authorization-window .container .right p a {
  color: #688280;
  font-weight: bold;
}
/* line 88, mainpage.less */
body.page-mainpage .modal#authorization-window .container .links {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  display: block;
  text-align: center;
  border-top: #b9d4cc 1px solid;
  padding-top: 10px;
}
/* line 98, mainpage.less */
body.page-mainpage .modal#authorization-window .container a.sign-up,
body.page-mainpage .modal#authorization-window .container a.forgot-password {
  color: #35504e;
  font: 400 1.4rem Roboto;
  text-decoration: none;
  margin-top: 10px;
  line-height: 26px;
}
/* line 104, mainpage.less */
body.page-mainpage .modal#authorization-window .container a.sign-up span,
body.page-mainpage .modal#authorization-window .container a.forgot-password span {
  color: #4ad0c5;
  font-weight: bold;
}
/* line 108, mainpage.less */
body.page-mainpage .modal#authorization-window .container a.sign-up.forgot-password,
body.page-mainpage .modal#authorization-window .container a.forgot-password.forgot-password {
  font-size: 1.2rem;
}
/* line 1, page_profile.less */
.wrapper {
  margin: auto;
  width: 960px;
}
/* line 6, page_profile.less */
body.page-profile .resume-section {
  overflow: hidden;
}
/* line 8, page_profile.less */
body.page-profile .resume-section .profile {
  float: left;
  width: 57%;
  margin-top: 20px;
}
/* line 12, page_profile.less */
body.page-profile .resume-section .profile .left {
  float: left;
  width: 28%;
  margin-top: 10px;
}
/* line 17, page_profile.less */
body.page-profile .resume-section .profile .left .photo img {
  display: block;
}
/* line 21, page_profile.less */
body.page-profile .resume-section .profile .left .place {
  margin-top: 17px;
  text-align: center;
  color: #8aa4a2;
  font: 400 1.2rem Roboto;
}
/* line 26, page_profile.less */
body.page-profile .resume-section .profile .left .place .fa {
  color: #4ad0c5;
}
/* line 32, page_profile.less */
body.page-profile .resume-section .profile .left .expirience {
  text-align: center;
  margin-top: 13px;
}
/* line 35, page_profile.less */
body.page-profile .resume-section .profile .left .expirience .fa {
  display: block;
  width: 100%;
  font-size: 18px;
}
/* line 40, page_profile.less */
body.page-profile .resume-section .profile .left .expirience p {
  font: 400 1.4rem Roboto;
}
/* line 42, page_profile.less */
body.page-profile .resume-section .profile .left .expirience p .value {
  color: #35504e;
  font-weight: 700;
}
/* line 49, page_profile.less */
body.page-profile .resume-section .profile .right {
  float: right;
  width: 68%;
  overflow: hidden;
}
/* line 53, page_profile.less */
body.page-profile .resume-section .profile .right header {
  overflow: hidden;
}
/* line 55, page_profile.less */
body.page-profile .resume-section .profile .right header .name {
  color: #35504e;
  font: 700 1.8rem Roboto;
  float: left;
}
/* line 59, page_profile.less */
body.page-profile .resume-section .profile .right header .name .lastname {
  text-transform: uppercase;
}
/* line 62, page_profile.less */
body.page-profile .resume-section .profile .right header .name .firstname {
  text-transform: none;
}
/* line 65, page_profile.less */
body.page-profile .resume-section .profile .right header .name .job {
  color: #4ad0c5;
  font: 500 1.4rem Roboto;
  margin-top: 5px;
}
/* line 70, page_profile.less */
body.page-profile .resume-section .profile .right header .name p {
  margin: 0;
}
/* line 74, page_profile.less */
body.page-profile .resume-section .profile .right header .toolbar {
  float: right;
}
/* line 76, page_profile.less */
body.page-profile .resume-section .profile .right header .toolbar .rating-block {
  float: right;
}
/* line 79, page_profile.less */
body.page-profile .resume-section .profile .right header .toolbar a.envelope {
  float: right;
  color: #4ad0c5;
  text-decoration: none;
  margin-top: 6px;
  margin-right: 15px;
}
/* line 85, page_profile.less */
body.page-profile .resume-section .profile .right header .toolbar a.envelope .fa {
  font-size: 2.0rem;
}
/* line 89, page_profile.less */
body.page-profile .resume-section .profile .right header .toolbar .profile-menu {
  float: right;
  margin-top: 9px;
  margin-right: 15px;
}
/* line 101, page_profile.less */
body.page-profile .resume-section .profile .right .contacts h5 {
  padding-bottom: 0;
}
/* line 104, page_profile.less */
body.page-profile .resume-section .profile .right .contacts p {
  margin: 2px 0;
  font-weight: 500;
}
/* line 107, page_profile.less */
body.page-profile .resume-section .profile .right .contacts p span.value {
  color: #4ad0c5;
}
/* line 113, page_profile.less */
body.page-profile .resume-section .profile .right .introtext a.readmore {
  color: #4ad0c5;
  font: italic 1.4rem Roboto;
}
/* line 120, page_profile.less */
body.page-profile .resume-section .price {
  float: right;
  width: 41%;
  margin-top: 7px;
}
/* line 127, page_profile.less */
body.page-profile .resume-section .price .content-block table {
  font: 500 1.4rem Roboto;
  width: 100%;
}
/* line 134, page_profile.less */
body.page-profile .resume-section .price .content-block table tbody tr td.value {
  text-align: right;
}
/* line 142, page_profile.less */
body.page-profile .resume-section .sign-up {
  float: right;
  width: 41%;
  margin-top: 10px;
}
/* line 146, page_profile.less */
body.page-profile .resume-section .sign-up .btn {
  padding: 17px 0;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font: 700 1.8rem Roboto;
  text-shadow: 1px 1px 0 #da8820;
}
/* line 157, page_profile.less */
body.page-profile .partners-section .content-block {
  overflow: hidden;
}
/* line 159, page_profile.less */
body.page-profile .partners-section .content-block .partner {
  float: left;
  width: 31.7%;
  margin-left: 2%;
  min-height: 120px;
}
/* line 164, page_profile.less */
body.page-profile .partners-section .content-block .partner:first-child {
  margin-left: 0;
}
/* line 173, page_profile.less */
body.page-profile .information-section .reviews {
  float: left;
  width: 57%;
}
/* line 177, page_profile.less */
body.page-profile .information-section .reviews .content-block .review {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px 20px 30px 20px;
  margin-bottom: 60px;
}
/* line 182, page_profile.less */
body.page-profile .information-section .reviews .content-block .review .quote-arrow {
  position: absolute;
  width: 43px;
  height: 25px;
  background: url('../images/quote-arrow.png');
  bottom: -25px;
  left: 60px;
}
/* line 195, page_profile.less */
body.page-profile .information-section .reviews .content-block .review .author {
  overflow: hidden;
  margin-top: 25px;
}
/* line 198, page_profile.less */
body.page-profile .information-section .reviews .content-block .review .author .photo {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-border-radius: 50px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  float: left;
}
/* line 207, page_profile.less */
body.page-profile .information-section .reviews .content-block .review .author .photo img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}
/* line 213, page_profile.less */
body.page-profile .information-section .reviews .content-block .review .author .text {
  overflow: hidden;
}
/* line 215, page_profile.less */
body.page-profile .information-section .reviews .content-block .review .author .text p {
  margin-left: 10px;
  font-size: 1.2rem;
}
/* line 218, page_profile.less */
body.page-profile .information-section .reviews .content-block .review .author .text p .author-name,
body.page-profile .information-section .reviews .content-block .review .author .text p .user-name {
  color: #4ad0c5;
  font: 700 1.2rem Roboto;
}
/* line 225, page_profile.less */
body.page-profile .information-section .reviews .content-block .review .toolbar {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 229, page_profile.less */
body.page-profile .information-section .reviews .content-block .review .toolbar .review-menu {
  float: left;
  margin-right: 20px;
  margin-top: 11px;
}
/* line 234, page_profile.less */
body.page-profile .information-section .reviews .content-block .review .toolbar .review-date {
  float: left;
  margin-right: 20px;
  font-size: 1.2rem;
}
/* line 239, page_profile.less */
body.page-profile .information-section .reviews .content-block .review .toolbar .readmore {
  border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  float: left;
  text-decoration: none;
  color: #4ad0c5;
  display: block;
  font-size: 1.2rem;
  border-left: dashed 1px #b9d4cc;
  border-top: dashed 1px #b9d4cc;
  padding: 8px 20px;
}
/* line 252, page_profile.less */
body.page-profile .information-section .reviews .content-block .review .toolbar .readmore:hover {
  text-decoration: underline;
}
/* line 258, page_profile.less */
body.page-profile .information-section .reviews .content-block #load-more-reviews {
  width: 200px;
  text-align: center;
  margin: auto;
  display: block;
}
/* line 269, page_profile.less */
body.page-profile .information-section .content-block form {
  overflow: hidden;
}
/* line 272, page_profile.less */
body.page-profile .information-section .content-block form .field textarea {
  height: 98px;
}
/* line 275, page_profile.less */
body.page-profile .information-section .content-block form .field label {
  color: #35504e;
  font: 500 1.4rem Roboto;
  margin-bottom: 0;
}
/* line 280, page_profile.less */
body.page-profile .information-section .content-block form .field .raiting-block.vote {
  float: left;
  margin-top: 6px;
}
/* line 285, page_profile.less */
body.page-profile .information-section .content-block form .btn {
  display: block;
  float: right;
}
/* line 291, page_profile.less */
body.page-profile .information-section .information {
  float: right;
  width: 41%;
}
/* line 301, page_profile.less */
body.page-profile .information-section .information .content-block.education-list .item,
body.page-profile .information-section .information .content-block.proffessions-list .item {
  margin-bottom: 20px;
}
/* line 303, page_profile.less */
body.page-profile .information-section .information .content-block.education-list .item .scan,
body.page-profile .information-section .information .content-block.proffessions-list .item .scan {
  float: left;
  width: 50px;
  margin-right: 15px;
}
/* line 307, page_profile.less */
body.page-profile .information-section .information .content-block.education-list .item .scan img,
body.page-profile .information-section .information .content-block.proffessions-list .item .scan img {
  display: block;
  width: 100%;
}
/* line 312, page_profile.less */
body.page-profile .information-section .information .content-block.education-list .item p,
body.page-profile .information-section .information .content-block.proffessions-list .item p {
  overflow: hidden;
}
/* line 318, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list .item {
  margin-bottom: 30px;
}
/* line 322, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list .author .photo {
  float: left;
  overflow: hidden;
  border-radius: 50px;
  -o-border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
/* line 332, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list .author .photo img {
  display: block;
}
/* line 336, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list .author .about {
  overflow: hidden;
}
/* line 338, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list .author .about p {
  margin: 0;
}
/* line 340, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list .author .about p.name {
  font-size: 1.2rem;
  color: #4ad0c5;
  font-weight: 700;
}
/* line 345, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list .author .about p.job {
  font-size: 1.2rem;
  font-weight: 700;
}
/* line 349, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list .author .about p.category {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 30px;
}
/* line 353, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list .author .about p.category .value {
  color: #35504e;
}
/* line 360, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list .item > h5 {
  padding-bottom: 0;
}
/* line 364, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list .content p {
  margin: 5px 0 0 0;
}
/* line 367, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list .content .fader {
  position: absolute;
  width: 100%;
  height: 44px;
  bottom: 0;
  background: -webkit-linear-gradient(90deg, #fefefe 0%, #fefefe 16%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(90deg, #fefefe 0%, #fefefe 16%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(90deg, #fefefe 0%, #fefefe 16%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(90deg, #fefefe 0%, #fefefe 16%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(0deg, #fefefe 0%, #fefefe 16%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}
/* line 380, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list a.readmore {
  color: #4ad0c5;
  font: 400 1.2rem Roboto;
  text-decoration: none;
}
/* line 384, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list a.readmore:hover {
  text-decoration: underline;
}
/* line 388, page_profile.less */
body.page-profile .information-section .information .content-block.answers-list a#load-all-answers {
  display: block;
  width: 80%;
  margin: auto;
}
/* line 396, page_profile.less */
body.page-profile .information-section .ask-question {
  margin-top: 20px;
  overflow: hidden;
}
/* line 399, page_profile.less */
body.page-profile .information-section .ask-question .ask-text {
  float: left;
}
/* line 401, page_profile.less */
body.page-profile .information-section .ask-question .ask-text h3 {
  padding: 0;
}
/* line 405, page_profile.less */
body.page-profile .information-section .ask-question a {
  display: block;
  float: right;
}
/* line 413, page_profile.less */
body.page-profile .same-users-section .content-block.same-users-list {
  overflow: hidden;
}
/* line 415, page_profile.less */
body.page-profile .same-users-section .content-block.same-users-list .same-user {
  overflow: hidden;
  float: left;
  width: 14%;
  margin-left: 3%;
  padding-bottom: 20px;
}
/* line 420, page_profile.less */
body.page-profile .same-users-section .content-block.same-users-list .same-user:first-child {
  margin-left: 0;
}
/* line 424, page_profile.less */
body.page-profile .same-users-section .content-block.same-users-list .same-user .photo {
  width: 100%;
  overflow: hidden;
}
/* line 427, page_profile.less */
body.page-profile .same-users-section .content-block.same-users-list .same-user .photo img {
  width: 100%;
}
/* line 431, page_profile.less */
body.page-profile .same-users-section .content-block.same-users-list .same-user p {
  text-align: center;
}
/* line 434, page_profile.less */
body.page-profile .same-users-section .content-block.same-users-list .same-user p.lastname {
  margin: 0;
  margin-top: 5px;
  color: #4ad0c5;
  font: 500 1.4rem Roboto;
}
/* line 440, page_profile.less */
body.page-profile .same-users-section .content-block.same-users-list .same-user p.firstname {
  margin: 0;
  color: #4ad0c5;
  font: 700 1.2rem Roboto;
}
/* line 446, page_profile.less */
body.page-profile .same-users-section .content-block.same-users-list .same-user .rating-block {
  width: 60px;
  margin: 10px auto 0 auto;
}
/* line 3, page_profile_settings.less */
body.page-profile-settings.common section.content {
  float: left;
  width: 62%;
}
/* line 8, page_profile_settings.less */
body.page-profile-settings.common section.content .upload-photo form .photo-container {
  overflow: hidden;
  float: left;
  border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 130px;
  height: 150px;
  margin-right: 15px;
}
/* line 18, page_profile_settings.less */
body.page-profile-settings.common section.content .upload-photo form .photo-container img {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 26, page_profile_settings.less */
body.page-profile-settings.common section.content .control {
  overflow: hidden;
}
/* line 28, page_profile_settings.less */
body.page-profile-settings.common section.content .control input {
  margin-bottom: 10px;
}
/* line 31, page_profile_settings.less */
body.page-profile-settings.common section.content .control p {
  color: #8aa4a2;
  font: 400 1.2rem Roboto;
}
/* line 36, page_profile_settings.less */
body.page-profile-settings.common section.content form#profile-settings-form {
  margin-top: 20px;
}
/* line 38, page_profile_settings.less */
body.page-profile-settings.common section.content form#profile-settings-form label {
  color: #35504e;
  font: 500 1.4rem Roboto;
  margin-bottom: 5px;
}
/* line 43, page_profile_settings.less */
body.page-profile-settings.common section.content form#profile-settings-form input {
  margin-bottom: 5px;
}
/* line 47, page_profile_settings.less */
body.page-profile-settings.common section.content form#profile-settings-form .field.firstname,
body.page-profile-settings.common section.content form#profile-settings-form .field.lastname,
body.page-profile-settings.common section.content form#profile-settings-form .field.middlename,
body.page-profile-settings.common section.content form#profile-settings-form .field.city,
body.page-profile-settings.common section.content form#profile-settings-form .field.country {
  float: left;
  width: 48%;
  margin-right: 4%;
}
/* line 51, page_profile_settings.less */
body.page-profile-settings.common section.content form#profile-settings-form .field.firstname.lastname,
body.page-profile-settings.common section.content form#profile-settings-form .field.lastname.lastname,
body.page-profile-settings.common section.content form#profile-settings-form .field.middlename.lastname,
body.page-profile-settings.common section.content form#profile-settings-form .field.city.lastname,
body.page-profile-settings.common section.content form#profile-settings-form .field.country.lastname,
body.page-profile-settings.common section.content form#profile-settings-form .field.firstname.city,
body.page-profile-settings.common section.content form#profile-settings-form .field.lastname.city,
body.page-profile-settings.common section.content form#profile-settings-form .field.middlename.city,
body.page-profile-settings.common section.content form#profile-settings-form .field.city.city,
body.page-profile-settings.common section.content form#profile-settings-form .field.country.city {
  margin-right: 0;
}
/* line 54, page_profile_settings.less */
body.page-profile-settings.common section.content form#profile-settings-form .field.firstname .select2-container,
body.page-profile-settings.common section.content form#profile-settings-form .field.lastname .select2-container,
body.page-profile-settings.common section.content form#profile-settings-form .field.middlename .select2-container,
body.page-profile-settings.common section.content form#profile-settings-form .field.city .select2-container,
body.page-profile-settings.common section.content form#profile-settings-form .field.country .select2-container {
  width: 100% !important;
  margin-bottom: 5px;
}
/* line 59, page_profile_settings.less */
body.page-profile-settings.common section.content form#profile-settings-form .field textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 40px;
}
/* line 65, page_profile_settings.less */
body.page-profile-settings.common section.content form#profile-settings-form input[type="submit"] {
  margin-right: 20px;
}
/* line 70, page_profile_settings.less */
body.page-profile-settings.common aside.additional-menu {
  float: left;
  margin-left: 2%;
  width: 36%;
}
/* line 75, page_profile_settings.less */
body.page-profile-settings.common aside.additional-menu ul li {
  margin: 3px 0;
}
/* line 77, page_profile_settings.less */
body.page-profile-settings.common aside.additional-menu ul li a {
  color: #8aa4a2;
  font: 500 1.4rem Roboto;
  text-decoration: none;
}
/* line 81, page_profile_settings.less */
body.page-profile-settings.common aside.additional-menu ul li a:hover {
  text-decoration: underline;
}
/* line 85, page_profile_settings.less */
body.page-profile-settings.common aside.additional-menu ul li.active a {
  font-weight: bold;
  color: #35504e;
}
/* line 1, cheat-sheet.less */
.wrapper {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  max-width: 960px;
}
/* line 7, cheat-sheet.less */
.wrapper > section {
  margin-bottom: 30px;
}
/* line 9, cheat-sheet.less */
.wrapper > section.colors {
  overflow: hidden;
}
/* line 11, cheat-sheet.less */
.wrapper > section.colors > div {
  position: relative;
  float: left;
  width: 33%;
  margin-right: 1%;
  border: solid 1px #ccc;
}
/* line 18, cheat-sheet.less */
.wrapper > section.colors .color {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 5px;
  position: relative;
  float: left;
  width: 33.333%;
}
/* line 25, cheat-sheet.less */
.wrapper > section.colors .color#sky {
  background: #4ad0c5;
  color: #179d92;
}
/* line 26, cheat-sheet.less */
.wrapper > section.colors .color#sea {
  background: #35504e;
  color: #688381;
}
/* line 27, cheat-sheet.less */
.wrapper > section.colors .color#blue_light {
  background: #dbefe5;
  color: #a8bcb2;
}
/* line 28, cheat-sheet.less */
.wrapper > section.colors .color#sky_dark {
  background: #41b6ad;
  color: #0e837a;
}
/* line 29, cheat-sheet.less */
.wrapper > section.colors .color#sea_light {
  background: #8aa4a2;
  color: #57716f;
}
/* line 30, cheat-sheet.less */
.wrapper > section.colors .color#white {
  background: #ffffff;
  color: #aaaaaa;
}
/* line 31, cheat-sheet.less */
.wrapper > section.colors .color#green_light {
  background: #33b679;
  color: #008346;
}
/* line 32, cheat-sheet.less */
.wrapper > section.colors .color#red_light {
  background: #f85649;
  color: #c52316;
}
/* line 33, cheat-sheet.less */
.wrapper > section.colors .color#yellow {
  background: #fac944;
  color: #c79611;
}
/* line 34, cheat-sheet.less */
.wrapper > section.colors .color#green {
  background: #0f9b58;
  color: #006825;
}
/* line 35, cheat-sheet.less */
.wrapper > section.colors .color#red {
  background: #eb5245;
  color: #b81f12;
}
/* line 36, cheat-sheet.less */
.wrapper > section.colors .color#yellow_dark {
  background: #ffaa3e;
  color: #aa5500;
}
/* line 40, cheat-sheet.less */
.wrapper > section.elements .buttons {
  overflow: hidden;
}
/* line 42, cheat-sheet.less */
.wrapper > section.elements .buttons .item {
  position: relative;
  margin-right: 2%;
  float: left;
}
/* line 48, cheat-sheet.less */
.wrapper > section.elements .checkboxes {
  overflow: hidden;
}
/* line 50, cheat-sheet.less */
.wrapper > section.elements .checkboxes .item {
  position: relative;
  margin-right: 2%;
  float: left;
}
/* line 58, cheat-sheet.less */
.wrapper > section.forms .item {
  width: 50%;
}
/* line 62, cheat-sheet.less */
.wrapper > section select {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */